<nav class="top">
    <a class="logo" href="/">Scriggo</a>
    <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/what-is-scriggo">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/use-cases">Use Cases</a></li>
        <li><a href="https://play.scriggo.com/" target="_blank" class="playground">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub">{{ render "github-logo.html" }}</a>
</nav>