<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: comments</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: comments">
    <meta property="og:description" content="Scriggo is a fast, modern and secure Go language template engine and embeddable runtime">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: comments">
    <meta name=twitter:description content="Scriggo is a fast, modern and secure Go language template engine and embeddable runtime">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.0</a>
    <ul>
        <li><a href="/what-is-scriggo">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://play.scriggo.com/" target="_blank" class="playground">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/comments"  class="selected" >Comments</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/using" >Using</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="comments">Comments</h1>
<p>If you want to add a comment or to comment a piece of code in a file, enclose the text between <code>{#</code> and <code>#}</code>:</p>
<pre><code class="language-scriggo">{# this is a comment #}

{# TODO: review the following code.

    {% for product in products %}
        {{ product.Name }}
    {% end %}
#}
</code></pre>
<p>Unlike HTML comments, as <code>&lt;!-- comment --&gt;</code>, Scriggo comments, as <code>{# comment #}</code>, are discarded when the template is
rendered and consequently are not present in the rendered code.</p>
<p>Scriggo comments can be nested, for example:</p>
<pre><code class="language-scriggo">{#
    {# show the promotion #}
    Promotion: {{ promotion }}
#}
</code></pre>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/comments.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
    </ul>
    </div>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>