<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: the if, for and switch statements</title>
    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: the if, for and switch statements">
    <meta property="og:description" content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: the if, for and switch statements">
    <meta name=twitter:description content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.57.0</a>
    <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" title="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a>
</nav><article>
    <div class="wrap">
        <aside>
            <button onclick="$(this.parentNode).toggleClass('expanded')">In this section<span></span></button>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li><a href="/how-to-use" >How to use</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch"  class="selected" >If, For and Switch</a>
</li>
                        <li><a href="/templates/using" >Using and itea</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/builtins" >Builtins</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="if-for-and-switch">If, For and Switch</h1>
<p>The <a href="#if">if statement</a> is used to execute code based on a condition, the <a href="#for">for statement</a> is used to iterate over
a <a href="/templates/types#slice">slice</a> (but also maps, strings and channels) and the <a href="#switch">switch statement</a> allows a
variable to be tested for equality against a list of values.</p>
<h2 id="if">If</h2>
<p>The <code>if</code> statement executes its body if the condition, that can have any type, is valuated to true. For example the
following statement:</p>
<pre><code class="language-scriggo">{% if stock &gt; 10 %}
  Wide availability
{% end %}
</code></pre>
<p>shows &quot;Wide availability&quot; if <em>stock</em> is greater than 10.</p>
<blockquote>
<p>Note that in programs, unlike in templates, the <em>if</em> condition can only be a boolean value.</p>
</blockquote>
<p>A condition is false for the values <code>false</code>, <code>0</code>, <code>0.0</code>, <code>&quot;&quot;</code> and <code>nil</code>, for nil or empty slices and maps. Apart from <a href="/template-spec#truthful-values">some
special cases</a>, it is true for all other values.</p>
<p>For example:</p>
<pre><code class="language-scriggo">&quot;&quot;               // is false, it is an empty string
&quot;0&quot;              // is true
true             // is true
[]string{}       // is false, it is an empty slice
map[int]string{} // is false, it is an empty map
0.1              // is true 
[]int{1,2}       // is true
</code></pre>
<p>If you want to execute one code or another based on a condition, you can write:</p>
<pre><code class="language-scriggo">{% if stock &gt; 10 %}
  Wide availability
{% else %}
  Limited availability
{% end %}
</code></pre>
<pre class="result">  Wide availability</pre>
<p>Scriggo also supports the <em>else if</em> form:</p>
<pre><code class="language-scriggo">{% if stock &gt; 10 %}
  Wide availability
{% else if stock &gt; 0 %}
  Limited availability
{% else %}
  Not available
{% end %}
</code></pre>
<pre class="result">  Wide availability</pre>
<h2 id="for">For</h2>
<p>The <code>for</code> statement iterates over a <a href="/templates/types#slice">slice</a> (but also a map, a string and a channel).
For example:</p>
<pre><code class="language-scriggo">{% for article in articles %}
  &lt;div&gt;{{ article.Title }}&lt;/div&gt;
{% end %}
</code></pre>
<p>It assigns an element to a variable in each iteration. In the previous example, the <code>article</code> variable is implicitly
declared and has the same type of the elements of <code>articles</code>. It is only visible in the body of the <code>for</code> statement.</p>
<p>With this <em>for</em> statement form, you can use an <em>else</em> block:</p>
<pre><code class="language-scriggo">{% for article in articles %}
  &lt;div&gt;{{ article.Title }}&lt;/div&gt;
{% else %}
   &lt;div&gt;There are no articles&lt;/div&gt;
{% end %}
</code></pre>
<p>The <em>else</em> block is executed if the <em>for</em> block is not executed.</p>
<p>This <em>for</em> statement form can be used only in templates, but you can also use all the other forms of the <em>for</em>
statement that can be used in programs.</p>
<h3 id="for-range">for range</h3>
<p>The <em>for range</em> form is similar to the <em>for in</em> form, but it also allows you to assign the element index, starting
from zero:</p>
<pre><code class="language-scriggo">{% for i, article := range articles %}
  &lt;div&gt;{{ i+1 }}. {{ article.Title }}&lt;/div&gt;
{% end %}
</code></pre>
<p>Also in the <em>for range</em> form you can use an <em>else</em> block that is executed if the <em>for</em> block is not executed.</p>
<pre><code class="language-scriggo">{% for i, article := range articles %}
  &lt;div&gt;{{ i+1 }}. {{ article.Title }}&lt;/div&gt;
{% else %}
   &lt;div&gt;There are no articles&lt;/div&gt;
{% end %}
</code></pre>
<h3 id="for-condition">for condition</h3>
<p>The <em>for</em> statement can be used with a condition. In this case the body is executed as long as the condition is true.</p>
<pre><code class="language-scriggo">{% for i &lt; len(articles) %}
  &lt;div&gt;{{ i+1 }}. {{ articles[i].Title }}&lt;/div&gt;
  {% i++ %}
{% end %}
</code></pre>
<p>As with the <em>if</em> statement, the condition of the <em>for</em> statement can have any type.</p>
<h3 id="for-loop">for loop</h3>
<p>The <em>for</em> statement alone, without a condition, executes its body until it is interrupted with a <em>break</em> statement.</p>
<pre><code class="language-scriggo">{% for %}
  {% var v = value() %}
  {% if not v %}{% break %}{% end %}
{% end %}
</code></pre>
<h3 id="for-init-condition-post">for init; condition; post</h3>
<p>The <em>for init; condition; post</em> form has three parts separated by a semicolon. The first part declares or assigns to a
variable before the first iteration. The second part is the condition and the last part usually increases a variable
before the next iteration.</p>
<p>The iteration continues as long as the condition is true.</p>
<pre><code class="language-scriggo">{% for i := 0; i &lt; len(articles); i++ %}
  &lt;div&gt;{{ i+1 }}. {{ articles[i].Name }}&lt;/div&gt;
{% end %}
</code></pre>
<h3 id="continue">continue</h3>
<p>The <em>continue</em> statement can be used in the body of a <em>for</em> statement to terminate the current iteration and
continue with the next one.</p>
<p>For example, the following code shows only products with a price:</p>
<pre><code class="language-scriggo">{% for product in products %}
  {% if not product.Price %}
    {% continue %}
  {% end if %}
  &lt;div&gt;{{ product.Name }}&lt;/div&gt;
{% end %}
</code></pre>
<h3 id="break">break</h3>
<p>The <em>break</em> statement can be used to stop the execution of a <em>for</em> statement.</p>
<p>For example, the following code shows only <code>1 2 3</code>.</p>
<pre><code class="language-scriggo">{% for n in []int{1, 2, 3, 4, 5} %}
  {% if n &gt; 3 %}
    {% break %}
  {% end if %}
  {{ n }}
{% end %}
</code></pre>
<h2 id="switch">Switch</h2>
<p>The <em>switch</em> statement can be used as an alternative to the <em>if</em> statement when the condition is not simply true or
false. This statement executes a <em>case</em> based on the value of its condition.</p>
<pre><code class="language-scriggo">{% switch department.Name %}
{% case &quot;Tappeti&quot; %}
  Rugs and rugs on offer for yuor home
{% case &quot;Cuscini&quot;, &quot;Federe&quot; %}
  Offers for the bedroom
{% default %}
  Specials
{% end %}
</code></pre>
<pre class="result">Offers for the bedroom</pre>
<p>Case values must have the same type of the condition. The cases are evaluated in order and only the first case that has
the same value as the condition is executed. If there are no cases with that value and there is a <em>default</em> case, the
default case is executed.</p>
<p>A switch may or may not have a condition. If it doesn't, the case expressions must be boolean.</p>
<pre><code class="language-scriggo">{% switch %}
{% case stock &gt; 10 %}
  Available
{% case name == &quot;Cuscini&quot; %}
  Offers for the bedroom
{% default %}
  Specials
{% end %}
</code></pre>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/if-for-switch.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="mailto:info@open2b.com">Contact Us</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
      <li class="company"><a href="https://www.open2b.com/" target="_blank">Open2b</a></li>
    </ul>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>