<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: the macro declaration</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: the macro declaration">
    <meta property="og:description" content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: the macro declaration">
    <meta name=twitter:description content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.0</a>
    <ul>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <aside>
            <button onclick="$(this.parentNode).toggleClass('expanded')">In this section<span></span></button>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro"  class="selected" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/using" >Using and itea</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="macro">Macro</h1>
<p>A macro is a piece of code that is given a name so that it can be called in another part of the template. A <em>macro</em>
declaration is used to declare a macro. For example:</p>
<pre><code class="language-scriggo">{% macro title %}An awesome book{% end %}
</code></pre>
<p>declares a macro named <em>title</em>. A macro is a function and as such parenthesis are used to call it:</p>
<pre><code class="language-scriggo">{{ title() }}
</code></pre>
<pre class="result">An awesome book</pre>
<p>In the body of the macro, you can access to, other than global variables, variables and macros declared in the same
file before the macro declaration. For example:</p>
<pre><code class="language-scriggo">{% var product = &quot;tablet&quot; %}
{% macro title %}An awesome {{ product }}{% end %}
</code></pre>
<pre class="result">An awesome tablet</pre>
<p>A variable declared in a body of a macro is not visible outside the macro.</p>
<h2 id="macro-with-parameters">Macro with parameters</h2>
<p>A macro can have parameters as any other function. Parameters are declared in parentheses, separated by a comma and
the type must be indicated in addition to the name of the parameter.</p>
<p>The following declaration declares a macro, called &quot;image&quot;, with three parameters:</p>
<pre><code class="language-scriggo">{% macro image(url string, width int, height int) %}
  &lt;img src=&quot;{{ url }}&quot; width=&quot;{{ width }}&quot; height=&quot;{{ height }}&quot;&gt;
{% end %}
</code></pre>
<p>A macro should be called with the same number of arguments, in the same order and with the same type of the parameters
in the declaration.</p>
<pre><code class="language-scriggo">{{ image(&quot;picture.jpg&quot;, 400, 500) }}
</code></pre>
<pre class="result">
&lt;img src="picture.jpg" width="400" height="500"&gt;
</pre>
<p>A type can be omitted if the next parameter has the same type. The previous declaration can be rewritten as:</p>
<pre><code class="language-scriggo">{% macro image(url string, width, height int) %}
  &lt;img src=&quot;{{ url }}&quot; width=&quot;{{ width }}&quot; height=&quot;{{ height }}&quot;&gt;
{% end %}
</code></pre>
<h2 id="distraction-free-macro-declaration">Distraction free macro declaration</h2>
<p>If a macro is declared in a file with an extends declaration, to be called in the extended file, and the macro has no
parameters, as in this example:</p>
<pre><code class="language-scriggo">{% extends &quot;layout.html&quot; %}
{% macro Main %}

&lt;ul&gt;
  {% for product in products %}
  &lt;li&gt;&lt;a href=&quot;{{ product.URL }}&quot;&gt;{{ product.Name }}&lt;/a&gt;&lt;/li&gt;
  {% end for %}
&lt;/ul&gt;

{% end macro %}
</code></pre>
<p>the declaration can be written in a special form called &quot;distraction free&quot;. The following example is equivalent to the
previous one but uses a distraction free macro declaration:</p>
<pre><code class="language-scriggo">{% extends &quot;layout.html&quot; %}
{% Main %}

&lt;ul&gt;
  {% for product in products %}
  &lt;li&gt;&lt;a href=&quot;{{ product.URL }}&quot;&gt;{{ product.Name }}&lt;/a&gt;&lt;/li&gt;
  {% end for %}
&lt;/ul&gt;
</code></pre>
<p>In a distraction free declaration, the <code>macro</code> keyword and the terminating <code>{% end %}</code> or <code>{% end macro %}</code> are omitted
and the macro ends at the end of the file. It means that all the code after the declaration end up to the end of the
file is the body of the macro.</p>
<p>Note that in Scriggo the code <code>{% Ident %}</code>, where <code>Ident</code> is an exported identifier (the first letter is in uppercase),
is always a distraction free macro declaration.</p>
<h2 id="call-a-macro-declared-in-another-file">Call a macro declared in another file</h2>
<p>To call a macro declared in another file, such as a file that declares macros useful in various parts of the template,
you have to import the file with an import declaration.</p>
<pre><code class="language-scriggo">{% import &quot;/imports/images.html&quot; for Image %}
{{ Image(&quot;offer.png&quot;, 200, 200) }}
</code></pre>
<pre class="result">&lt;img src="offer.png" width="200" height="200"&gt;</pre>
<p>Macro declared in other files should have the first letter in uppercase in order for them to be imported.</p>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/macro.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="mailto:info@open2b.com">Contact Us</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
      <li class="company"><a href="https://www.open2b.com/" target="_blank">Open2b</a></li>
    </ul>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>