<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: operators</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: operators">
    <meta property="og:description" content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: operators">
    <meta name=twitter:description content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.0</a>
    <ul>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://play.scriggo.com/" target="_blank" class="playground">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/comments" >Comments</a>
</li>
                        <li><a href="/templates/operators"  class="selected" >Operators</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/using" >Using</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="operators">Operators</h1>
<p>Scriggo offers several arithmetic, comparison and logic operators. Since Scriggo is strongly typed, each operator can
be used only with specific types, and for binary operators the two operands should have the same type.</p>
<p>As an exception, the three logical operators <code>and</code>, <code>or</code> and <code>not</code> accept any type, and the operands of the <code>contains</code>,
<code>not contains</code> and <code>shift</code> operators have specific types but can be different.</p>
<h2 id="basic-operators">Basic operators</h2>
<p>These are the basic operators. They are the Go operators and therefore are also available in programs.</p>
<div class="operators">
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>==</td>
<td>equal</td>
</tr>
<tr>
<td>!=</td>
<td>not equal</td>
</tr>
<tr>
<td>&lt;</td>
<td>less</td>
</tr>
<tr>
<td>&lt;=</td>
<td>less or equal</td>
</tr>
<tr>
<td>&gt;</td>
<td>greater</td>
</tr>
<tr>
<td>&gt;=</td>
<td>greater or equal</td>
</tr>
<tr>
<td>||</td>
<td>conditional OR</td>
</tr>
<tr>
<td>&amp;&amp;</td>
<td>conditional AND</td>
</tr>
<tr>
<td>!</td>
<td>NOT</td>
</tr>
<tr>
<td>+</td>
<td>sum</td>
</tr>
<tr>
<td>-</td>
<td>difference</td>
</tr>
<tr>
<td>*</td>
<td>product</td>
</tr>
<tr>
<td>/</td>
<td>quotient</td>
</tr>
<tr>
<td>%</td>
<td>remainder</td>
</tr>
</tbody>
</table>
</div>
<p>For example:</p>
<pre><code class="language-scriggo">{% if stock &gt; 10 %}
  Wide availability
{% end %}
</code></pre>
<p>There are other operator, but they are not discussed in this documentation (see the
<a href="https://golang.org/ref/spec#Operators">Go specification</a>).</p>
<p>The following table shows which operators can be used with which data type:</p>
<div class="data-type-operators">
<table>
<thead>
<tr>
<th>Data type</th>
<th>Operators</th>
</tr>
</thead>
<tbody>
<tr>
<td>Numeric</td>
<td>==  !=  &lt;  &lt;=  &gt;  &gt;=  +  -  *  /</td>
</tr>
<tr>
<td>Integer</td>
<td>%</td>
</tr>
<tr>
<td>String</td>
<td>==  !=  &lt;  &lt;=  &gt;  &gt;=  +</td>
</tr>
<tr>
<td>Boolean</td>
<td>==  !=  !  &amp;&amp; ||</td>
</tr>
</tbody>
</table>
</div>
<h2 id="and-or-and-not">And, Or and Not</h2>
<p>Scriggo allows to combine any expression with the <code>and</code>, <code>or</code> and <code>not</code> operators and their evaluation returns true or
false based on the truth value of their operands.</p>
<pre><code class="language-scriggo">{% if promotion and stock %} promotion with immediate availability {% end %}

{% if not price %} login to view price {% end %}
</code></pre>
<p>The Go language does not have <code>and</code>, <code>or</code> and <code>not</code>, but they are available in Scriggo templates because they make
simple <code>if</code> statement conditions easier for non-programmers to read and write.</p>
<p>As an alternative you can use the Go logical operators <code>&amp;&amp;</code>, <code>||</code> and <code>!</code> that want boolean values as operands. For
example, the above examples can be written as:</p>
<pre><code class="language-scriggo">{% if promotion != nil &amp;&amp; stock &gt; 0 %} promotion with immediate availability {% end %}

{% if price == 0  %} login to view price {% end %}
</code></pre>
<h3 id="true-or-false">&quot;true&quot; or &quot;false&quot;</h3>
<p>For the <code>and</code>, <code>or</code> and <code>not</code> operators all values are true, except for the following values which are false:</p>
<div class="data-type-false">
<table>
<thead>
<tr>
<th>Data type</th>
<th>&quot;false&quot; value</th>
</tr>
</thead>
<tbody>
<tr>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>int</td>
<td>0</td>
</tr>
<tr>
<td>float64</td>
<td>0.0</td>
</tr>
<tr>
<td>string</td>
<td>&quot;&quot;</td>
</tr>
<tr>
<td>[]string</td>
<td>nil or empty</td>
</tr>
<tr>
<td>Product</td>
<td>Product{}</td>
</tr>
</tbody>
</table>
</div>
<p>See the <a href="/templates/specification#truthful-values">Scriggo template specification</a> for more details.</p>
<h2 id="contains">Contains</h2>
<p>The <em>contains</em> and <em>not contains</em> boolean operators indicates if a slice contains or not contains an element, if a map
contains or not contains a key, if a string contains or not contains a substring or a rune (character).</p>
<p>These operators have the following form:</p>
<pre><code class="language-scriggo">a contains b
a not contains b
</code></pre>
<p>The <em>contains</em> operators are specific to Scriggo templates and are not present in the Go language.</p>
<h3 id="examples">Examples</h3>
<p>Checks if a slice of strings contains a specific string:</p>
<pre><code class="language-scriggo">{% var colors = []string{&quot;red&quot;, &quot;blue&quot;, &quot;yellow&quot;, &quot;green&quot;} %}
{% if colors contains &quot;yellow&quot; %}
  colors contains &quot;yellow&quot;
{% end %}
</code></pre>
<pre class="result">  colors contains "yellow"</pre>
<p>Checks if a string contains a substring:</p>
<pre><code class="language-scriggo">{% if product.Name contains &quot;bundle&quot; %}
  the product's name contains the word &quot;bundle&quot;
{% end %}
</code></pre>
<pre class="result">  the product's name contains the word "bundle"</pre>
<p>Checks if a map contains a key:</p>
<pre><code class="language-scriggo">{% var nameOf = map[int]string{1: &quot;one&quot;, 4: &quot;four&quot;, 7: &quot;seven&quot;} %}
{% if nameOf contains 7 %}
  nameOf contains the key 7
{% end %}
</code></pre>
<pre class="result">  nameOf contains the key 7</pre>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/operators.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
    </ul>
    </div>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>