<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: types</title>
    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: types">
    <meta property="og:description" content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: types">
    <meta name=twitter:description content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.54.0</a>
    <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" title="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a>
</nav><article>
    <div class="wrap">
        <aside>
            <button onclick="$(this.parentNode).toggleClass('expanded')">In this section<span></span></button>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li><a href="/how-to-use" >How to use</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/using" >Using and itea</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/types"  class="selected" >Types</a>
</li>
                        <li><a href="/templates/builtins" >Builtins</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="types">Types</h1>
<p>Scriggo implements all <a href="https://go.dev/ref/spec#Types">types of Go</a> but only the most common types
are documented here.</p>
<p>All values in Scriggo have a type and there are several basic types.</p>
<h2 id="bool">bool</h2>
<p>Boolean values are the <code>true</code> and <code>false</code> values. These are examples of boolean variable declarations:</p>
<pre><code class="language-scriggo">{% var a bool %}     a is false
{% var b = true %}   b is true
{% c := false %}     c is false
</code></pre>
<h2 id="string">string</h2>
<p>Strings are written with double quotes, as &quot;hello&quot;, or with a grave accent, as `hello`. These are examples of string variable declarations:</p>
<pre><code class="language-scriggo">{% var a string %}     a is an empty string
{% var b = &quot;hello&quot; %}  b is the string &quot;hello&quot;
{% c := &quot;world&quot; %}     c is the string &quot;world&quot;
</code></pre>
<p>To read the length in bytes of a string use the <code>len</code> function, instead to read the length in characters use the
<code>runeCount</code> function. The name of the <code>runeCount</code> function comes from &quot;rune&quot; which is the term used in Go to name the
characters. For a more accurate explanation you can read
<a href="https://go.dev/blog/strings">Strings, bytes, runes and characters in Go</a>.</p>
<h2 id="html">html</h2>
<p>The <em>html</em> type is a string type representing HTML code. Unlike the type string, <em>show</em> does not escape a html value in
an HTML context. For example:</p>
<pre><code class="language-scriggo">&lt;div&gt;
    {{ &quot;&lt;b&gt;this is bold&lt;/b&gt;&quot; }}           is escaped
    {{ html(&quot;&lt;b&gt;this is bold&lt;/b&gt;&quot;) }}     is not escaped
&lt;/div&gt;
</code></pre>
<pre class="result">
&amp;lt;b&amp;gt;this is bold&amp;lt;/b&amp;gt;
&lt;b&gt;this is bold&lt;/b&gt;
</pre>
<p>A value with type string can be converted to the html type only if it is an untyped constant, as <code>&quot;&lt;b&gt;this is bold&lt;/b&gt;&quot;</code>.
If it is a variable, it cannot be converted. On the other hand, a html type value can always be converted to the
string type.</p>
<pre><code class="language-scriggo">{%%
    var a html = &quot;&lt;b&gt;this is bold&lt;/b&gt;&quot;  // &quot;&lt;b&gt;this is bold&lt;/b&gt;&quot; can be converted to html
    var b string = a                    // a can be coverted to b
    var c html = b                      // ERROR: b cannot be converted to html
%%}
</code></pre>
<h2 id="markdown">markdown</h2>
<p>The <em>markdown</em> type is a string type representing Markdown code. Unlike the type string, <em>show</em> does not escape a
markdown value in a Markdown context. For example, supposing a Markdown context:</p>
<pre><code class="language-scriggo">{{ &quot;# This is a title&quot; }}
{{ markdown(&quot;# This Is A Title&quot;) }}
</code></pre>
<pre class="result">
\# This is a title
# This is a title
</pre>
<p>The markdown type, the html type and the <em>css</em>, <em>js</em> and <em>json</em> types are called format types. These format types
can be converted to the string type only if the value to convert is an untyped constant as seen in the example for the
html type.</p>
<h2 id="int">int</h2>
<p>Values with type <code>int</code> are integer numbers. These are examples of int variable declarations:</p>
<pre><code class="language-scriggo">{% var a int %}  a is 0
{% var b = 5 %}  b is 5
{% c := 7 %}     c is 7
</code></pre>
<h2 id="slice">slice</h2>
<p>A slice is a numbered sequence of elements of the same type. For example <code>[]int{5, 2, 7, 9}</code> is a slice of <code>int</code>
values and <code>[]string{&quot;hello&quot;, &quot;ciao&quot;}</code> is a slice of <code>string</code> values. A slice can be <code>nil</code> which is a value other than
an empty slice.</p>
<p>These are examples of slice variable declarations:</p>
<pre><code class="language-scriggo">{% var a []int %}                a is a nil int slice
{% var b = []int{} %}            b is an empty int slice
{% var c = []int{3, 0, 7, 2} %}  c is an int slice with elements 3, 0, 7 and 2
{% d := []int{2, 9, 5} %}        d is an int slice with elements 2, 9 and 5
</code></pre>
<h3 id="length">Length</h3>
<p>The <code>len</code> built-in function is used to read the length of a slice, ie the number of elements it contains.</p>
<pre><code class="language-scriggo">{% var s = []int{&quot;a&quot;, &quot;b&quot;, &quot;c&quot;} %}
{{ len(s) }}
</code></pre>
<pre class="result">3</pre>
<h3 id="accessing-to-an-element-of-a-slice">Accessing to an element of a slice</h3>
<p>To access an element of a slice use square brackets <code>[</code> and <code>]</code> with its index starting from 0. For example:</p>
<pre><code class="language-scriggo">{% var s = []string{&quot;a&quot;, &quot;b&quot;, &quot;c&quot;} %}
{% s[1] = &quot;e&quot; %}
{{ s[0] }} {{ s[1] }} {{ s[2] }}
</code></pre>
<pre class="result">a e c</pre>
<p>To access to the last element of a slice <code>s</code> you can write <code>s[len(s)-1]</code>.</p>
<p>Accessing a nil slice or accessing a index that does not exist is an error.</p>
<h3 id="iterate-over-the-elements-of-a-slice">Iterate over the elements of a slice</h3>
<p>To iterate over the elements of an slice use the <em>for</em> statement. For example:</p>
<pre><code class="language-scriggo">{% var greetings = []string{&quot;Hello&quot;, &quot;Ciao&quot;, &quot;你好&quot;} %}

{% for greeting in greetings %}
  {{ greeting }}
{% end %}
</code></pre>
<pre class="result">
  Hello
  Ciao
  你好
</pre>
<h3 id="slicing">Slicing</h3>
<p>Slicing is an operation that returns a portion of a slice. To do a slicing use square brackets <code>[</code> and <code>]</code> with the
initial and final indexes separated with a colon <code>:</code>. The final index is not included in the returned slice.</p>
<pre><code class="language-scriggo">{% var s = []string{&quot;a&quot;, &quot;b&quot;, &quot;c&quot;, &quot;d&quot;, &quot;e&quot;} %}
{{ s[1:3] }}
</code></pre>
<pre class="result">
b
c
</pre>
<pre><code class="language-scriggo">{% for x in s[2:5] %} {{ x }} {% end %}
</code></pre>
<pre class="result">
 c  d  e 
</pre>
<p>A slicing operation does not copy the elements, as a consequence the resulting slice refers the same elements of the
original slice.</p>
<pre><code class="language-scriggo">{% var s = []int{0, 1, 2, 3, 4, 5} %}
{% var p = s[0:3] %}
{% s[0] = 5 %}
{{ p }}
</code></pre>
<pre class="result">
5
1
2
</pre>
<h3 id="appends-elements-to-a-slice">Appends elements to a slice</h3>
<p>The length of a slice cannot change, but as you can do a slicing to have a shorter slice, you can append to have a
longer slice. The append operation is done with the <code>append</code> built-in function:</p>
<pre><code class="language-scriggo">{% var s = []int{0, 1} %}
{% s = append(s, 2, 3, 4, 5) %}
{{ s }}
</code></pre>
<pre class="result">
0
1
2
3
4
5
</pre>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/types.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="mailto:info@open2b.com">Contact Us</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
      <li class="company"><a href="https://www.open2b.com/" target="_blank">Open2b</a></li>
    </ul>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>