<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scriggo templates: the using statement and itea </title>
    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo templates: the using statement and itea ">
    <meta property="og:description" content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo templates: the using statement and itea ">
    <meta name=twitter:description content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.1</a>
    <ul>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" title="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a>
</nav><article>
    <div class="wrap">
        <aside>
            <button onclick="$(this.parentNode).toggleClass('expanded')">In this section<span></span></button>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li><a href="/how-to-use" >How to use</a>
</li>
                <li>
                    <a href="/templates"  class="expanded">Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/using"  class="selected" >Using and itea</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="using-and-itea">Using and itea</h1>
<p>The <em>using</em> statement is used to evaluate a block of content and then use it, via a predeclared identifier named <em>itea</em>, in a statement or declaration.</p>
<p>In this example:</p>
<pre><code class="language-scriggo">{% navigation := itea; using %}
  &lt;li&gt;&lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
  &lt;li&gt;&lt;a href=&quot;/about-us&quot;&gt;About Us&lt;/a&gt;
{% end using %}
</code></pre>
<p>the body of the <em>using</em> statement:</p>
<pre><code class="language-scriggo">  &lt;li&gt;&lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;
  &lt;li&gt;&lt;a href=&quot;/about-us&quot;&gt;About Us&lt;/a&gt;
</code></pre>
<p>is evaluated and the result, represented by the identifier <em>itea</em>, is assigned to the <em>navigation</em> variable.</p>
<p>The body of the using statement can contain any content, including other declarations and statements, and <em>itea</em> can be
used like any other identifier. In the following example, the body also contains a show statement and <em>itea</em> is passed
to a function:</p>
<pre><code class="language-scriggo">{% sendmail(from, to, wordwrap(itea)); using %}
Hello {{ name }}, thanks for your kind reply.
{% end %}
</code></pre>
<p>Given this macro declaration:</p>
<pre><code class="language-scriggo">{% macro Dialog(title string, content html) %}
&lt;div class=&quot;dialog&quot;&gt;
  &lt;h1&gt;{{ title }}&lt;/h1&gt;
  &lt;div class=&quot;content&quot;&gt;{{ content }}&lt;/div&gt;
&lt;/div&gt;
{% end %}
</code></pre>
<p>you can call it like this:</p>
<pre><code class="language-scriggo">{% show Dialog(&quot;You wrote&quot;, itea); using %}
  &lt;p&gt;You wrote:&lt;/p&gt;
  &lt;cite&gt;{{ message }}&lt;/cite&gt;
{% end %}
</code></pre>
<p>In the previous example itea must have type <a href="types#html">html</a> in order to be passed to the <code>Dialog</code> macro. The type of
itea depends on the context of the using statement. In the example above, assuming the context is HTML, itea has the
type <a href="types#html">html</a>.</p>
<p>You can specify the type for itea among the format types <em>string</em>, <em>html</em>, <em>markdown</em>, <em>css</em>, <em>js</em> and <em>json</em>.</p>
<p>Look at this example:</p>
<pre><code class="language-scriggo">{% show itea; using markdown %}
# The ancient art of tea
The Ancient Art of Tea is a delightful glimpse into
the philosophy, history and culture of tea in China.
{% end %}
</code></pre>
<pre class="result">
&lt;h1&gt;The ancient art of tea&lt;/h1&gt;
&lt;p&gt;The Ancient Art of Tea is a delightful glimpse into
the philosophy, history and culture of tea in China.&lt;/p&gt;
</pre>
<p>The body is evaluated as Markdown because we have explicitly specified the type of itea by writing <code>using markdown</code>. If the context of the show statement is HTML, the show statement then converts the value of itea from markdown to html and shows it.</p>
<h2 id="itea-with-a-macro-type">Itea with a macro type</h2>
<p>In some cases, you may not want to immediately evaluate the body of the <em>using</em> statement.</p>
<p>Look at this example:</p>
<pre><code class="language-scriggo">{% show Header(itea); using %}
  &lt;title&gt;My Site&lt;/title&gt;
  {{ socials() }}
{% end %}
</code></pre>
<p>The body is evaluated and the result is passed to the <code>Header</code> macro. If <code>Header</code> doesn't use its argument, Scriggo still executes the body and calls the <code>socials</code> function.</p>
<p>To avoid this, you can change <code>Header</code> by passing them a macro instead of a string. <code>Header</code> will only call the macro if it wants to render it. Now you can write <code>using macro</code> instead of <code>using</code> only:</p>
<pre><code class="language-scriggo">{% show Header(itea); using macro %}
  &lt;title&gt;My Site&lt;/title&gt;
  {{ socials() }}
{% end %}
</code></pre>
<p>In this case <em>itea</em> represents a macro with body the body of the <em>using</em> statement. The body is evaluated and the
<code>socials</code> macro is called only when <code>Header</code> calls the macro.</p>
<h3 id="parameters">Parameters</h3>
<p>The following <code>Users</code> macro shows the users that have been passed to them. To show each user, it calls the macro
<code>getUser</code>, also passed as an argument:</p>
<pre><code class="language-scriggo">{% macro Users(users []User, getUser macro(user User) html) %}
&lt;div class=&quot;users&quot;&gt;
  &lt;h2&gt;Users&lt;/h2&gt;
  {% for user in users %}
  &lt;div class=&quot;user&quot;&gt;{{ getUser(user) }}&lt;/div&gt;
  {% end %}
&lt;/div&gt;
{% end %}
</code></pre>
<p>You can put together the call to <code>Users</code> with the macro showing a user, as follows:</p>
<pre><code class="language-scriggo">{% show Users(users, itea); using macro(user User) %}
&lt;dl&gt;
  &lt;dt&gt;First name&lt;/dt&gt;
  &lt;dd&gt;{{ user.FirstName }}&lt;/dd&gt;
  &lt;dt&gt;Lat name&lt;/dt&gt;
  &lt;dd&gt;{{ user.LastName }}&lt;/dd&gt;
&lt;/dl&gt;
{% end %}
</code></pre>
<h2 id="learn-more-about--using-">Learn more about <em>using</em></h2>
<p>Now that you have learned, with examples of increasing complexity, how <em>using</em> works, you can find out more by reading
the template specification of the <a href="/templates/specification#using-statement">using statement</a>.</p>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/templates/using.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="mailto:info@open2b.com">Contact Us</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
      <li class="company"><a href="https://www.open2b.com/" target="_blank">Open2b</a></li>
    </ul>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>