<!doctype html>
<html class="article page-faq" lang="en">
<head>
    <title>Scriggo Frequently Asked Questions (FAQ)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scriggo Frequently Asked Questions (FAQ)">
    <meta property="og:description" content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scriggo Frequently Asked Questions (FAQ)">
    <meta name=twitter:description content="Scriggo is the world’s powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.0</a>
    <ul>
        <li><a href="/what-is-scriggo">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/faq" class="selected">FAQ</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <div class="content">
            <h1 id="frequently-asked-questions">Frequently Asked Questions</h1>
<dl>
    <dt><a href="#origin-and-nature-of-the-project">Origin and nature of the project</a></dt>
    <dd><a href="#is-scriggo-open-source">Is Scriggo Open Source?</a></dd>
    <dd><a href="#what-is-the-relationship-between-scriggo-and-google">What is the relationship between Scriggo and Google?</a></dd>
    <dd><a href="#can-i-contribute-to-scriggo">Can I contribute to Scriggo?</a></dd>
    <dt><a href="#scriggo-and-go">Scriggo and Go</a></dt>
    <dd><a href="#can-you-extend-the-go-language-with-x-functionality">Can you extend the Go language with X functionality?</a></dd>
    <dd><a href="#can-i-use-the-shebang-in-go-files">Can I use the shebang in Go files?</a></dd>
    <dd><a href="#what-versions-of-go-does-scriggo-support">What versions of Go does Scriggo support?</a></dd>
    <dt><a href="#safety">Safety</a></dt>
    <dd><a href="#what-do-you-mean-that-scriggo-is-safe">What do you mean that Scriggo is safe?</a></dd>
    <dd><a href="#how-can-i-run-third-party-code-safely">How can I run third party code safely?</a></dd>
    <dt><a href="#versions">Versions</a></dt>
    <dd><a href="#how-does-versioning-work">How does versioning work?</a></dd>
    <dd><a href="#can-scriggo-be-used-in-production">Can Scriggo be used in production?</a></dd>
    <dt><a href="#performance">Performance</a></dt>
    <dd><a href="#why-is-scriggo-so-fast-and-allocates-less-than-other-interpreters-in-go">Why is Scriggo so fast and allocates less than other interpreters in Go?</a></dd>
    <dd><a href="#how-can-scriggo-perform-like-mainstream-languages">How can Scriggo perform like mainstream languages?</a></dd>
    <dd><a href="#there-is-still-room-for-optimization">There is still room for optimization?</a></dd>
    <dt><a href="#templates">Templates</a></dt>
    <dd><a href="#go-already-has-a-template-engine-why-another-one">Go already has a template engine, why another one?</a></dd>
    <dd><a href="#what-is-a-truthful-value-in-templates">What is a truthful value in templates?</a></dd>
    <dd><a href="#can-you-implement-x-functionality-in-templates-even-if-it-is-not-present-in-go">Can you implement X functionality in templates even if it is not present in Go?</a></dd>
    <dd><a href="#why-isnt-the--operator-supported-in-templates">Why isn't the ?: operator supported in templates?</a></dd>
    <dd><a href="#why-is-a-string-value-not-convertible-to-html-type-in-the-templates">Why is a string value not convertible to html type in the templates?</a></dd>
    <dd><a href="#what-is-the-predeclared-identifier-itea">What is the predeclared identifier itea?</a></dd>
    <dt><a href="#implementation">Implementation</a></dt>
    <dd><a href="#how-is-the-compiler-written">How is the compiler written?</a></dd>
    <dd><a href="#how-does-the-runtime-work">How does the runtime work?</a></dd>
    <dt><a href="#how-are-the-dependencies-in-the-gomod-file-used">How are the dependencies in the go.mod file used?</a></dt>
</dl>
<h2 id="origin-and-nature-of-the-project">Origin and nature of the project</h2>
<h3 id="is-scriggo-open-source">Is Scriggo Open Source?</h3>
<p>Yes, it is distributed under a BSD license, the same as Go.</p>
<h3 id="what-is-the-relationship-between-scriggo-and-google">What is the relationship between Scriggo and Google?</h3>
<p>None, apart from the fact that the Go language, with which Scriggo is written and which it implements, is a Google
project.</p>
<h3 id="can-i-contribute-to-scriggo">Can I contribute to Scriggo?</h3>
<p>Of course, you are welcome.</p>
<h2 id="scriggo-and-go">Scriggo and Go</h2>
<h3 id="can-you-extend-the-go-language-with-x-functionality">Can you extend the Go language with X functionality?</h3>
<p>Scriggo, for programs, implements exclusively the Go language specification, so if it is not present in the Go
specification it cannot be implemented.</p>
<h3 id="can-i-use-the-shebang-in-go-files">Can I use the shebang in Go files?</h3>
<p>No, because the shebang is not mentioned in the Go specification. If you need it, you could remove the shebang line from the
file when it is read by Scriggo.</p>
<h3 id="what-versions-of-go-does-scriggo-support">What versions of Go does Scriggo support?</h3>
<p>Scriggo supports the latest two stable versions of Go. Therefore, it currently supports versions 1.16 and 1.17. When
version 1.18 is released, the next stable version of Scriggo will support versions 1.17 and 1.18.</p>
<h2 id="safety">Safety</h2>
<h3 id="what-do-you-mean-that-scriggo-is-safe">What do you mean that Scriggo is safe?</h3>
<p>The Scriggo source code uses only the standard Go library and does not use the &quot;unsafe&quot; and &quot;syscall&quot; packages.</p>
<p>Code executed by Scriggo, by default, cannot access external code such as packages, functions, variables, constants and
types (apart from the Go builtins) that have not been explicitly provided to it. Therefore, it is possible to restrict
access to the network, file system, environment variables, and the execution of other processes.</p>
<p>The <code>print</code> and <code>println</code> builtins, which print to the standard error by default, can be easily replaced.</p>
<p>Executed code can be interrupted via a context. Therefore, it is not possible to write code that cannot be interrupted.</p>
<p>It is not possible instead to limit the memory that an executed code can allocate, there is no safe and efficient way
that can be implemented in Go. Moreover, the new types specified in the executed code allocate memory that is not
released. This is a known limitation of the Go reflect implementation. Specifying the same type does no result,
however, in a new memory allocation.</p>
<h3 id="how-can-i-run-third-party-code-safely">How can I run third party code safely?</h3>
<p>By running the process in a controlled environment such as a virtual machine.</p>
<h2 id="versions">Versions</h2>
<h3 id="how-does-versioning-work">How does versioning work?</h3>
<p>Until version 1.0.0 is released, all versions will have the form &quot;0.<em>minor</em>.<em>patch</em>&quot;. The minor will be increased if
the version introduces an incompatibility with the previous version. Patches are released for the latest minor only.
Once version 1.0.0 is released, patches for the current and previous minor will be released.</p>
<h3 id="can-scriggo-be-used-in-production">Can Scriggo be used in production?</h3>
<p>Scriggo v0.45.0 is currently used in production and the latest version will be soon. It is not yet in version 1.0 as
there are some part of the Go specification to implement, and we still want to be free to make small and limited
changes to the template specification and packages after receiving feedback from the community.</p>
<h2 id="performance">Performance</h2>
<h3 id="why-is-scriggo-so-fast-and-allocates-less-than-other-interpreters-in-go">Why is Scriggo so fast and allocates less than other interpreters in Go?</h3>
<p>Scriggo implements a virtual machine with registers. Go programs and templates are first compiled to bytecode and then executed by the Scriggo virtual machine.</p>
<p>This allows for excellent execution speed and a small memory allocation compared to other interpreters in Go.</p>
<h3 id="how-can-scriggo-perform-like-mainstream-languages">How can Scriggo perform like mainstream languages?</h3>
<p>The Go static type checking made it possible to design efficient Scriggo virtual machine instructions even if they have
to call the Go reflect later.</p>
<h3 id="there-is-still-room-for-optimization">There is still room for optimization?</h3>
<p>The currently generated bytecode is not yet as optimized as we would like. There is therefore still room for
optimization.</p>
<h2 id="templates">Templates</h2>
<h3 id="go-already-has-a-template-engine-why-another-one">Go already has a template engine, why another one?</h3>
<p>The <a href="https://pkg.go.dev/html/template">template engine</a> that comes with the standard Go library was designed to be used
in simpler situations such as data formatting and is not, and never pretended to be, a template engine with an
integrated programming language. Moreover, it has a non-immediate understanding syntax for those coming from other
templating languages like Jinja and Liquid.</p>
<h3 id="what-is-a-truthful-value-in-templates">What is a truthful value in templates?</h3>
<p>We wanted the template language to be easy to use even for non-programmers. A simple statement like the following:</p>
<p><code>{% if len(products) == 0 %} There are no products {% end %}</code></p>
<p>brings with it some concepts such as slices, the built-in <code>len</code> and the equality operator, which on the whole could
discourage people approaching a template language without coding skills.</p>
<p>In Scriggo, therefore, the previous code can also be written in the following way:</p>
<pre><code>{% if not products %} There are no products {% end %}
</code></pre>
<p>The condition of the <em>if</em> statement can have any type and is <em>true</em> if it is truthful. A <em>nil</em> or empty slice is not
truthful and therefore in the context of the <em>if</em> condition, <code>len(products) == 0</code> can be replaced with
<code>not products</code>.</p>
<p><code>and</code>, <code>or</code> and <code>not</code> are three boolean operators, available in templates, which are based on the concept of
truthful values. For more details you can see the <a href="/templates/operators#and-or-and-not">documentation</a> and the
<a href="/templates/specification#truthful-values">template specification</a>.</p>
<h3 id="can-you-implement-x-functionality-in-templates-even-if-it-is-not-present-in-go">Can you implement X functionality in templates even if it is not present in Go?</h3>
<p>If the X functionality is templates specific and does not also concern the Go language, then it can be evaluated. If, on
the other hand, it could also concern the Go language, then it is less likely that it can be implemented as we prefer
to maintain as much consistency as possible with the Go language.</p>
<h3 id="why-isnt-the--operator-supported-in-templates">Why isn't the ?: operator supported in templates?</h3>
<p>The same reasons for implementing it in templates would also apply to the Go language, so it should first be added to
the Go specification.</p>
<p>In templates context, consider for example that the following code (not valid in Scriggo)</p>
<pre><code>{{ products ? &quot;there are &quot; + sprintf(&quot;%d&quot;, len(products)) : &quot;no products&quot; }}
</code></pre>
<p>can be written in Scriggo as</p>
<pre><code>{% if products %}there are {{ len(products) }}{% else %}no products{% end %}
</code></pre>
<h3 id="why-is-a-string-value-not-convertible-to-html-type-in-the-templates">Why is a string value not convertible to html type in the templates?</h3>
<p>Only untyped string constants are convertible to the <em>html</em> type. The same is true for the <em>markdown</em>, <em>css</em>, <em>js</em>, and <em>json</em>
types. This helps to limit cross-site scripting (XSS) vulnerabilities that the template writer might unintentionally
introduce.</p>
<h3 id="what-is-the-predeclared-identifier-itea">What is the predeclared identifier itea?</h3>
<p>The predeclared identifier <em>itea</em> represents the body of a <em>using</em> statement. It is the rendered body or a macro
with that body.</p>
<p>We were looking for a name that was as short as Go's <em>iota</em> and was not in common use. Hence, &quot;itea&quot;. If you are
curious, itea is a genus of shrubs and small trees, commonly called sweetspires (Wikipedia).</p>
<h2 id="implementation">Implementation</h2>
<h3 id="how-is-the-compiler-written">How is the compiler written?</h3>
<p>Scriggo's compiler is written in Go, entirely from scratch and therefore does not rely on any other previously written
compiler. The same compiler is able to compile both Go programs and Scriggo templates with the same code base. This
allows to make fixes, improvements and new features at the same time for the compilation of programs and templates.</p>
<p>The compiler consists of the parser, a completely handwritten and not self-generated recursive descent parser, the type
checker and the emitter. The final result of the compilation is a set of data structures, one for each Scriggo
function defined in the source code and one for each native function called by Scriggo functions. Templates have an
implicit <em>main</em> function. Each Scriggo function then has its body compiled to bytecode.</p>
<h3 id="how-does-the-runtime-work">How does the runtime work?</h3>
<p>The Scriggo runtime is a virtual machine with registers. Like the compiler, it is written from scratch. Many of the
virtual machine instructions rely on Go reflect functions to operate on type literal values, call native functions,
and implement the <em>select</em> statement. This allows Scriggo to have excellent interoperability with Go's native values
and functions.</p>
<p>The virtual machine has 4 stacks of registers, one for integers, one for floating-points, one for strings, and one for
all other values. The stacks have a fixed initial size and can then grow when needed.</p>
<p>For more details on registers, and bytecode instructions you can see the <a href="/disassembler">disassembler documentation</a>.</p>
<h3 id="how-are-the-dependencies-in-the-gomod-file-used">How are the dependencies in the go.mod file used?</h3>
<p>The <a href="https://pkg.go.dev/github.com/open2b/scriggo">github.com/open2b/scriggo</a> module has dependencies that are used
exclusively by the scriggo command. When using Scriggo embedded in your applications there are no dependencies apart
from the standard Go library.</p>

        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
    </ul>
  </div>
</footer></body>
</html>