<!doctype html>
<html lang="en" class="article">
<head>
    <title>How to use Scriggo</title>
    <link rel="stylesheet" href="/css/highlight.css" media="screen">
<link rel="stylesheet" href="/css/github.css" media="screen">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="How to use Scriggo">
    <meta property="og:description" content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="How to use Scriggo">
    <meta name=twitter:description content="Scriggo is the world’s most powerful template engine and Go embeddable interpreter">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.51.1</a>
    <ul>
        <li><a href="/what-is-scriggo" class="selected">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" title="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a>
</nav><article>
    <div class="wrap">
        <aside>
            <button onclick="$(this.parentNode).toggleClass('expanded')">In this section<span></span></button>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo?</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/how-to-use"  class="selected" >How to use</a>
</li>
                <li>
                    <a href="/templates" >Templates</a>

                    <ul>
                        <li><a href="/templates/show-render" >Show and Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/if-for-switch" >If, For and Switch</a>
</li>
                        <li><a href="/templates/using" >Using and itea</a>
</li>
                        <li><a href="/templates/operators" >Operators</a>
</li>
                        <li><a href="/templates/variables" >Variables</a>
</li>
                        <li><a href="/templates/types" >Types</a>
</li>
                        <li><a href="/templates/builtins" >Builtins</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="how-to-use">How to use</h1>
<p>This page explains how to use Scriggo in a Go application to execute templates. If you want to learn the template
language, see the <a href="/templates">templates</a> section instead.</p>
<ul>
<li><a href="#template-files">Template files</a></li>
<li><a href="#build-and-run-templates">Build and run templates</a></li>
<li><a href="#use-builtins">Use builtins</a></li>
<li><a href="#pass-variables-to-templates">Pass variables to templates</a></li>
<li><a href="#use-other-types-of-globals">Use other types of globals</a></li>
<li><a href="#use-markdown">Use Markdown</a></li>
<li><a href="#import-packages">Import packages</a></li>
<li><a href="#do-not-parse---">Do not parse {{ ... }}</a></li>
<li><a href="#execution-environment-env">Execution environment (env)</a></li>
<li><a href="#implement-istrue">Implement IsTrue</a></li>
<li><a href="#allow-go-statement">Allow &quot;go&quot; statement</a></li>
<li><a href="#handle-build-and-run-errors">Handle build and run errors</a></li>
<li><a href="#builtins-best-practices">Builtins best practices</a></li>
</ul>
<div style="margin-top: 2rem;"></div>
<h3 id="template-files">Template files</h3>
<p>A template consists of one or more files that Scriggo reads from a <a href="https://pkg.go.dev/io/fs#FS">file system</a>. You can
use any file system. For example, you can read the files from a directory, using the file system returned by the
<a href="https://pkg.go.dev/os#DirFS">os.DirFS</a> function, or read the files embedded in the executable with the
<a href="https://pkg.go.dev/embed">//go:embed</a> directive.</p>
<p>For the examples of this documentation we use a simple file system,
<a href="https://pkg.go.dev/github.com/open2b/scriggo#Files">scriggo.Files</a>, whose files are read from a map.</p>
<p>By default, Scriggo gets the format of a file from the filename extension:</p>
<table>
<thead>
<tr>
<th>Format</th>
<th>Extension</th>
</tr>
</thead>
<tbody>
<tr>
<td>HTML</td>
<td>.html</td>
</tr>
<tr>
<td>Markdown</td>
<td>.md .mkd .mkdn .mdown .markdown</td>
</tr>
<tr>
<td>CSS</td>
<td>.css</td>
</tr>
<tr>
<td>JavaScript</td>
<td>.js</td>
</tr>
<tr>
<td>JSON</td>
<td>.json</td>
</tr>
<tr>
<td>Text</td>
<td>all other extensions</td>
</tr>
</tbody>
</table>
<p>If the file system implements the <a href="https://pkg.go.dev/github.com/open2b/scriggo#FormatFS">scriggo.FormatFS</a> interface:</p>
<pre><code class="language-go">type FormatFS interface {
    fs.FS
    Format(name string) (Format, error)
}
</code></pre>
<p>Scriggo calls the Format method to get the file format.</p>
<h3 id="build-and-run-templates">Build and run templates</h3>
<p>A template is first compiled and then executed, even concurrently by multiple goroutines. The compilation parses, type
checks and emits the template bytecode. Execution is fast because it executes the bytecode on its virtual machine.</p>
<p>To compile a template, you pass the file system and the filename to the
<a href="https://pkg.go.dev/github.com/open2b/scriggo#BuildTemplate">scriggo.BuildTemplate</a> function, then call the
<a href="https://pkg.go.dev/github.com/open2b/scriggo#Template.Run">Run</a> method on the returned compiled template.</p>
<p>The following program compiles and runs <code>{{ &quot;hello&quot; }}</code>:</p>
<pre><code class="language-go">package main

import (
    &quot;log&quot;
     &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
)

func main() {
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`{{ &quot;hello&quot; }}`)}
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, nil)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<h3 id="use-builtins">Use builtins</h3>
<p>By default, a template code can only use the Go builtins. To allow the template code to use other builtins, you can pass
them as globals to the BuildTemplate function.</p>
<p>Scriggo, with the package <a href="https://pkg.go.dev/github.com/open2b/scriggo/builtin">github.com/open2b/scriggo/builtin</a>,
provides useful <a href="/templates/builtins">builtins</a> ready-to-use. You can use all of them or just some. For example, the
following program uses the min and max builtins:</p>
<pre><code class="language-go">package main

import (
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/builtin&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

func main() {
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`{{ min(3, 4) }} {{ max(8, 5) }}`)}
    globals := native.Declarations{
        &quot;min&quot;: builtin.Min,
        &quot;max&quot;: builtin.Max,
    }
    opts := &amp;scriggo.BuildOptions{
        Globals: globals,
    }
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<h3 id="pass-variables-to-templates">Pass variables to templates</h3>
<p>You can pass a variable as a global to the template, as you previously passed the Scriggo builtins, but variables are
passed by reference. Scriggo supports several use cases for passing a variable to a template, but let's start with
simpler case. Look at this example:</p>
<pre><code class="language-go">package main

import (
    &quot;fmt&quot;
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

func main() {
    var who = &quot;World&quot;
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`Hello {{ who }} {% who = &quot;Scriggo&quot; %}`)}
    opts := &amp;scriggo.BuildOptions{
        Globals: native.Declarations{&quot;who&quot;: &amp;who},
    }
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
    fmt.Printf(&quot;\nwho is %q&quot;, who)
}
</code></pre>
<p>Note that we passed the address of the <em>who</em> variable. If you execute this example, it prints:</p>
<pre><code>Hello World
who is &quot;Scriggo&quot;
</code></pre>
<p>How you can see, the value assigned to the <em>who</em> variable, in the Go code, has been modified by the template code. If
you run the template concurrently, the goroutines that execute the template could access to the same variable at the
same time, so it may be necessary to use a synchronization mechanism.</p>
<p>If you want each execution to access its own variable, pass the variable pointer to the Run method instead of
BuildTemplate, with a different variable for each execution.</p>
<pre><code class="language-go">package main

import (
    &quot;fmt&quot;
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

func main() {
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`Hello {{ who }} {% who = &quot;Scriggo&quot; %}`)}
    opts := &amp;scriggo.BuildOptions{
        Globals: native.Declarations{&quot;who&quot;: (*string)(nil)},
    }
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    // Use a different variable for each call to Run, for example using a closure.
    var who = &quot;World&quot;
    err = template.Run(os.Stdout, map[string]interface{}{&quot;who&quot;: &amp;who}, nil)
    if err != nil {
        log.Fatal(err)
    }
    fmt.Printf(&quot;\nwho is %q&quot;, who)
}
</code></pre>
<p>Note that we passed <code>(*string)(nil)</code> to BuildTemplate as global. This way the compiler knows the type of the variable.
Then we passed the variable pointer to the Run method. If you execute the program, it prints again:</p>
<pre><code>Hello World
who is &quot;Scriggo&quot;
</code></pre>
<p>The printed value is not changed because the variable is still &quot;shared&quot; between the Go code and template code. But no
between different executions, if a different variable was passed for each of them.</p>
<p>If you don't need to &quot;share&quot; the variable at all, pass the variable's value to the Run method instead of the pointer:</p>
<pre><code class="language-go">err = template.Run(os.Stdout, map[string]interface{}{&quot;who&quot;: &quot;World&quot;}, nil)
</code></pre>
<p>In this case if the template code assigns a new value to the variable, no variables are changed in the Go code. But be
aware that if the variable is for example a slice, a map or a pointer value, the template code can still change the
slice and map elements and the pointed value.</p>
<h4 id="how-to-pass-a-pointer-type">How to pass a pointer type</h4>
<p>Passing a pointer type is the same as passing any other type, there is no special cases. To pass a variable <code>v</code> with
type <code>*T</code>, write:</p>
<pre><code class="language-go">opts := &amp;scriggo.BuildOptions{
    Globals: native.Declarations{&quot;v&quot;: (**T)(nil)},
}
</code></pre>
<p>To &quot;share&quot; the variable with the Go code, pass a pointer to the variable:</p>
<pre><code class="language-go">v := &amp;T{}
err = template.Run(os.Stdout, map[string]interface{}{&quot;v&quot;: &amp;v}, nil)
</code></pre>
<p>Otherwise, pass the value of the variable:</p>
<pre><code class="language-go">v := &amp;T{}
err = template.Run(os.Stdout, map[string]interface{}{&quot;v&quot;: v}, nil)
</code></pre>
<h3 id="use-other-types-of-globals">Use other types of globals</h3>
<p>You can also pass functions, constants (typed and untyped), types and even packages to a template as globals. For
functions, we have already seen the example of Scriggo's min and max builtins.</p>
<p>The following code exemplifies all the types of globals that you can pass to a template:</p>
<pre><code class="language-go">native.Declarations{
    &quot;articles&quot;: &amp;articles,                       // a variable named &quot;articles&quot;
    &quot;inc&quot;: func(i int) int { return i+1 },       // a function named &quot;inc&quot;
    &quot;Foo&quot;: reflect.TypeOf(Foo{}),                // a type named &quot;Foo&quot;
    &quot;limit&quot; : 1024,                              // an int constant named &quot;limit&quot;
    &quot;Pi&quot;: native.UntypedNumericConst(&quot;3.14159&quot;), // an untyped numeric constant named &quot;Pi&quot;
    &quot;separator&quot;: native.UntypedStringConst(&quot;/&quot;), // an untyped string constant named &quot;separator&quot;
    &quot;True&quot;: native.UntypedBooleanConst(true),    // an untyped boolean constant named &quot;True&quot;
    &quot;colors&quot;: native.Package{                    // a package named &quot;colors&quot;
        Name: &quot;colors&quot;,
        Declarations: native.Declarations{
            &quot;Red&quot;: &quot;#FF0000&quot;,
            &quot;Yellow&quot;: &quot;#FFFF00&quot;,
        },
    },
}
</code></pre>
<p>All of them can then be used in the template, for example:</p>
<pre><code class="language-scriggo"> {{ len(articles) }}   {{ inc(5) }}      {{ Foo{&quot;foo&quot;}.Boo }}   {{ limit }}
 {{ Pi }}              {{ separator }}   {{ True }}             {{ colors.Red }}
</code></pre>
<p>Except variables, as seen above, the template code cannot modify a global passed with a native.Declarations value.</p>
<h3 id="use-markdown">Use Markdown</h3>
<p>Scriggo can run template files containing only Markdown and return the rendered Markdown code.</p>
<p>With Scriggo you can also, for example, run a Markdown file that extends an HTML file, run an HTML file that
render a Markdown file and convert a value with <em>markdown</em> type to the <em>html</em> type. To do this you need to pass a
<a href="https://pkg.go.dev/github.com/open2b/scriggo#Converter">converter</a> to the BuildTemplate function to convert Markdown
to HTML.</p>
<p>For example, you can use <a href="https://github.com/yuin/goldmark" target="_blank">Goldmark</a> as a converter.</p>
<pre><code class="language-go">package main

import (
    &quot;io&quot;
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/yuin/goldmark&quot;
)

func main() {
    fsys := scriggo.Files{
        &quot;index.html&quot;: []byte(`{{ markdown(&quot;# The Ancient Art Of Tea&quot;) }}`),
    }
    md := goldmark.New()
    opts := &amp;scriggo.BuildOptions{
        MarkdownConverter: func(src []byte, out io.Writer) error {
            return md.Convert(src, out)
        },
    }
    template, err := scriggo.BuildTemplate(fsys, &quot;index.html&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<p>If you run this program, it prints:</p>
<pre><code class="language-html">&lt;h1&gt;The Ancient Art Of Tea&lt;/h1&gt;
</code></pre>
<p>There are several options you can use with Goldmark, for example the <em>scriggo serve</em> command uses these options:</p>
<pre><code class="language-go">goldmark.New(
    goldmark.WithRendererOptions(html.WithUnsafe()),        // do not remove any HTML code
    goldmark.WithParserOptions(parser.WithAutoHeadingID()), // add ids to the headings
    goldmark.WithExtensions(extension.GFM))                 // allow GitHub Flavored Markdown
</code></pre>
<h3 id="import-packages">Import packages</h3>
<p>You have already seen how to <a href="#use-other-types-of-globals">pass a package as global</a> to a template. A package passes as
a global can be used without importing it.</p>
<p>You can also allow the template code to import other packages by passing an importer to the BuildTemplate function. You
can write the importer and the packages it imports, or you can use the
<a href="#import-packages-with-the-import-command">scriggo import command</a> to generate an importer for existing Go packages.</p>
<p>The following program defines a package with path &quot;acme.inc/colors&quot; and name &quot;colors&quot; and passes it to the
<code>BuildTemplate</code> function. The colors package exports the &quot;Red&quot; constant and the &quot;Name&quot; function.</p>
<pre><code class="language-go">package main

import (
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

func main() {
    fsys := scriggo.Files{
        &quot;index.txt&quot;: []byte(`
            {% import &quot;acme.inc/colors&quot; %}
            {{ colors.Red }} is called {{ colors.Name(colors.Red) }}
        `),
    }
    packages := native.Packages{
        &quot;acme.inc/colors&quot; : native.Package{
            Name: &quot;colors&quot;,
            Declarations: native.Declarations{
                &quot;Red&quot;: &quot;#C0392B&quot;,
                &quot;Name&quot;: func(color string) string {
                    if color == &quot;#C0392B&quot; {
                        return &quot;Red&quot;
                    }
                    return &quot;&quot;
                },
            },
        },
    }
    opts := &amp;scriggo.BuildOptions{Packages: packages}
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<p>The <a href="https://pkg.go.dev/github.com/open2b/scriggo/native">native</a> package provides the types
<a href="https://pkg.go.dev/github.com/open2b/scriggo/native#CombinedPackage">CombinedPackage</a>
and <a href="https://pkg.go.dev/github.com/open2b/scriggo/native#CombinedImporter">CombinedImporter</a> that may be useful for
this purpose.</p>
<h4 id="import-packages-with-the-import-command">Import packages with the import command</h4>
<p>The <code>scriggo import</code> command allows to easily create an importer that imports the Go standard packages and other
packages according to the instructions in a <a href="/scriggofile">Scriggofile</a>.</p>
<p>For example, create a file called &quot;Scriggofile&quot; with the following content and put it the root directory of a Go
module:</p>
<pre><code class="language-scriggofile">IMPORT STANDARD LIBRARY
</code></pre>
<p>The Scriggo Import command reads the instructions in the Scriggofile and generates the source code of an importer that
imports the packages of the Go standard library.</p>
<p>Execute <code>scriggo import</code> command in the module directory:</p>
<pre><code class="language-shell">$ scriggo import -o packages.go
</code></pre>
<p>Be patient and wait for its conclusion, it takes several seconds.</p>
<p>The code in the <code>packages.go</code> file assigns a
<a href="https://pkg.go.dev/github.com/open2b/scriggo/native#Packages">native.Packages</a> value to the <em>packages</em> variable with the
packages indicated in the Scriggofile.</p>
<p>Then, you can pass the <em>packages</em> variable to the BuildTemplate function:</p>
<pre><code class="language-go">package main

import (
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

var packages native.Packages

func main() {
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`
    {%%
        import &quot;net/http&quot;

        r, err := http.Get(&quot;https://example.com/&quot;)
        if err != nil {
            show &quot;error: &quot;, err
        } else {
            show &quot;the server has responded with status &quot;, r.Status
        }
    %%}
    `)}
    opts := &amp;scriggo.BuildOptions{Packages: packages}
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<h3 id="do-not-parse---">Do not parse {{ ... }}</h3>
<p>If you use a client-side template that already uses the <code>{{ ... }}</code> syntax, you can disable this syntax in Scriggo
using the <em>NoParseShortShowStmt</em> option with the BuildTemplate function:</p>
<pre><code class="language-go">opts := &amp;scriggo.BuildOptions{
    NoParseShortShowStmt: true,
}
</code></pre>
<p>Using this option, Scriggo does not parse the short show statements, and then you can use this syntax client-side. In Scriggo, you can continue to use the <code>{% show ... %}</code> syntax.</p>
<h3 id="execution-environment-env">Execution environment (env)</h3>
<p>The execution environment, or simply env, is a value created at each template execution whose type implements the
<a href="https://pkg.go.dev/github.com/open2b/scriggo/native#Env">native.Env</a> interface. A function or method, passed as global
or imported into a template, receives env as first argument if its first parameter has type
<a href="https://pkg.go.dev/github.com/open2b/scriggo/native#Env">native.Env</a>.</p>
<p>You can use env to get the <a href="https://pkg.go.dev/context#Context">context</a> passed to the Run method, exit the execution,
raise a fatal error, print with the <em>print</em> and <em>println</em> builtins used in the template, and get the caller's path
relative to the root of the template.</p>
<p>For example, the following program passes a builtin named <em>exit</em> to the template. When called, it ends the execution of
the template.</p>
<pre><code class="language-go">package main

import (
    &quot;log&quot;
    &quot;os&quot;

    &quot;github.com/open2b/scriggo&quot;
    &quot;github.com/open2b/scriggo/native&quot;
)

// Env terminates the template execution with status code.
func Exit(env native.Env, code int) {
    env.Exit(code)
}

func main() {
    fsys := scriggo.Files{&quot;index.txt&quot;: []byte(`{% exit(0) %}{{ &quot;not displayed&quot; }}`)}
    opts := &amp;scriggo.BuildOptions{
        Globals: native.Declarations{&quot;exit&quot;: Exit},
    }
    template, err := scriggo.BuildTemplate(fsys, &quot;index.txt&quot;, opts)
    if err != nil {
        log.Fatal(err)
    }
    err = template.Run(os.Stdout, nil, nil)
    if err != nil {
        log.Fatal(err)
    }
}
</code></pre>
<p>Note that template code does not see the env parameter of the Exit function and calls the exit builtin as <code>exit(0)</code>.</p>
<h3 id="implement-istrue">Implement IsTrue</h3>
<p>The IsTrue method can be implemented by struct and pointer to struct types that can be truthful or not truthful.
See the <a href="/templates/specification#truthful-values">template specification</a> for the details on truthful values.</p>
<p>Given this type:</p>
<pre><code class="language-go">type Slide struct {
    Images []Image
    Timing int
}
</code></pre>
<p>a template writer would expect a Slide value to be truthful if it contains images and not truthful if it does not. So
she can write:</p>
<pre><code class="language-scriggo">{% if slide %}
&lt;div class=&quot;slide&quot;&gt;
  {% for image in slide.Images %}{{ image }}{% end %}
&lt;/div&gt;
{% end if %}
</code></pre>
<p>To do this, add the IsTrue method to the Slide (or *Slice) type:</p>
<pre><code class="language-go">func (s Slide) IsTrue() bool {
    return len(s.Images) &gt; 0
}
</code></pre>
<h3 id="allow-go-statement">Allow &quot;go&quot; statement</h3>
<p>By default, the <em>go</em> statement is not allowed, the compilation of a template with a <em>go</em> statement fails. You can allow
the <em>go</em> statement using the AllowGoStmt option with the BuildTemplate function:</p>
<pre><code class="language-go">opts := &amp;scriggo.BuildOptions{
    AllowGoStmt: true,
}
</code></pre>
<p>Note that currently the goroutines started by the template code do not terminate when the execution of the template
ends. This behavior may change in a future version of Scriggo.</p>
<h3 id="handle-build-and-run-errors">Handle build and run errors</h3>
<p>How handle errors depends on the context in which templates are compiled and executed. Therefore, the way in which
errors are handled may vary from application to application.</p>
<h4 id="build-errors">Build errors</h4>
<p>The <a href="https://pkg.go.dev/github.com/open2b/scriggo#BuildTemplate">BuildTemplate</a> function:</p>
<pre><code class="language-go">template, err := scriggo.BuildTemplate(fsys, &quot;index.md&quot;, opts)
if err != nil {
    if errors.Is(err, fs.ErrNotExist) {
        // handle do not exist error.
    }
    if err, ok := err.(*scriggo.BuildError); ok {
        // handle compilation error.
    }
    // handle other errors returned by the file system methods,
    // by the converter and other internal errors.
}
</code></pre>
<p>If the file to be compiled does not exist, it returns an error satisfying <code>errors.Is(err, fs.ErrNotExist)</code>, while if a
file to extend, import or render does not exist, it returns a
<a href="https://pkg.go.dev/github.com/open2b/scriggo#BuildError">*scriggo.BuildError</a> value.</p>
<p>A <a href="https://pkg.go.dev/github.com/open2b/scriggo#BuildError">*scriggo.BuildError</a> value is an error in the template code
such as a syntax error, a type checking error, a cycle error and a limit exceeded error. You may show this error to
the template author, so that she can fix it.</p>
<p>Other errors are unexpected errors returned by a file system method, the converter and other internal errors.</p>
<h4 id="run-errors">Run errors</h4>
<p>The <a href="https://pkg.go.dev/github.com/open2b/scriggo#Template.Run">Run</a> method:</p>
<pre><code class="language-go">err = template.Run(os.Stdout, nil, nil)
if err != nil {
    if err, ok := err.(*scriggo.PanicError); ok {
        // handle a panic in the template code.
    }
    if err, ok := err.(*scriggo.ExitError); ok {
        // handle a call to env.Exit with a not zero code.
    }
    // handle other errors returned by the out.Write method, by the converter,
    // and the Err method of a context when it is cancelled.
}
</code></pre>
<p>If the template code calls the panic builtin or a panic is raised from a global function or method, and this panic is
not recovered, the Run method returns a <a href="https://pkg.go.dev/github.com/open2b/scriggo#PanicError">*scriggo.PanicError</a>
value. You may panic with the value <code>err.Error()</code>, log the error, show the error on the console or return it to a
browser.</p>
<p>If the <a href="https://pkg.go.dev/github.com/open2b/scriggo/native#Env.Exit">Env.Exit</a> method is called with a not zero code,
Run returns a <a href="https://pkg.go.dev/github.com/open2b/scriggo#ExitError">*scriggo.ExitError</a> value. You may exit with
this code, log the exit error, show the exit error on the console or return it to a browser.</p>
<p>Other errors are unexpected errors returned by the output writer, the converter, the error of a cancelled context
and other internal errors.</p>
<p>The Run method panics if the <a href="https://pkg.go.dev/github.com/open2b/scriggo/native#Env.Fatal">Env.Fatal</a> method is
called.</p>
<h3 id="builtins-best-practices">Builtins best practices</h3>
<p>These are the best practices to use when creating a built-in. Scriggo's builtins follow these best practices.</p>
<ul>
<li>Error messages must have the builtin name as prefix: <code>parseInt: invalid base 1</code></li>
<li>Errors should be created with <code>errors.New</code>. Use a different type of error only if necessary.</li>
<li>Argument of a panic should be a string with the same format of an error. If not a string, provide this value as
built-in.</li>
<li>Prefer <code>string</code> to <code>[]byte</code>. Prefer <code>rune</code> and <code>int</code> to other integer types. Prefer <code>float64</code> to <code>float32</code>.</li>
<li>Don't use pointer types. Hide the pointer in a struct with an unexported field with this pointer type.</li>
<li>Naming things, prefer names used in the Go standard library. For example <code>unmarshalJSON</code> instead of <code>parseJSON</code>.</li>
<li>Prefer panics to fatals. Panics can be recovered from the template code and, if not recovered, are returned as errors.
Fatals are not recoverable and panic the Run method.</li>
<li>Types used by builtins must be builtins.</li>
<li>Prefer ease of use to performance.</li>
<li>Prefer ease of use to completeness.</li>
</ul>
<p>The builtins provided with Scriggo also follow the following best practices:</p>
<ul>
<li>Use only the packages of the Go standard library.</li>
<li>Don't use the <code>unsafe</code> and <code>syscall</code> packages.</li>
</ul>

<div id="edit-on-github">
  <a href="https://github.com/open2b/scriggo-site/blob/main/site/how-to-use.md" target="_blank">
    ✍️ Edit on GitHub, PRs are welcome.
  </a>
</div>        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="mailto:info@open2b.com">Contact Us</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
      <li class="company"><a href="https://www.open2b.com/" target="_blank">Open2b</a></li>
    </ul>
  </div>
</footer><script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>