<!doctype html>
<html lang="en" class="article">
<head>
    <meta charset="utf-8">
    <title>The Scriggo Template Specification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="top">
    <a class="logo" href="/">Scriggo</a>
    <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/what-is-scriggo">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/use-cases">Use Cases</a></li>
        <li><a href="https://play.scriggo.com/" target="_blank" class="playground">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="what-is-scriggo">What is Scriggo</a></li>
                <li><a href="get-started">Get Started</a></li>
                <li><a href="scriggo-command">Scriggo command</a></li>
                <li><a href="templates">Templates</a></li>
                <li><a href="scriggofile">Scriggofile</a></li>
                <li><a href="disassembler">Disassembler</a></li>
                <li><a href="template-spec">Template spec</a></li>
                <li><a href="limitations">Limitations</a></li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="the-scriggo-templates-specification">The Scriggo Templates Specification</h1>
<table>
    <tr>
        <td>
            <dl>
                <dt><a href="#introduction">Introduction</a></dt>
                <dt><a href="#template-source-code-representation">Template source code representation</a></dt>
                <dt><a href="#lexical-elements">Lexical elements</a></dt>
                <dd><a href="#comments">Comments</a></dd>
                <dt><a href="#types">Types</a></dt>
                <dd><a href="#format-types">Format types</a></dd>
                <dd><a href="#macro-types">Macro types</a></dd>
                <dt><a href="#contexts">Contexts</a></dt>
                <dt><a href="#declarations">Declarations</a></dt>
                <dd><a href="#predeclared-identifiers">Predeclared identifiers</a></dd>
                <dt><a href="#expressions">Expressions</a></dt>
                <dd><a href="#primary-expressions">Primary expressions</a></dd>
                <dd><a href="#default-expression">Default expression</a></dd>
                <dd><a href="#render-operator">Render operator</a></dd>
                <dd><a href="#contains-operators">Contains operators</a></dd>
                <dd><a href="#operators">Operators</a></dd>
                <dd><a href="#extended-zero-values">Extended zero values</a></dd>
                <dd><a href="#extended-logical-operators">Extended logical operators</a></dd>
                <dd><a href="#conversions">Conversions</a></dd>
            </dl>
        </td>
        <td>
            <dl>
                <dt><a href="#statements">Statements</a></dt>
                <dd><a href="#go-statement">Go statement</a></dd>
                <dd><a href="#if-statement">If statement</a></dd>
                <dd><a href="#for-statement">For statement</a></dd>
                <dd><a href="#show-statement">Show statement</a></dd>
                <dd><a href="#using-statement">Using statement</a></dd>
                <dd><a href="#itea">Itea</a></dd>
                <dd><a href="#raw-statement">Raw statement</a></dd>
                <dt><a href="#template-files">Template files</a></dt>
                <dd><a href="#extends-declarations">Extends declarations</a></dd>
                <dd><a href="#import-declarations">Import declarations</a></dd>
                <dt><a href="#template-initialization-and-execution">Template initialization and execution</a></dt>
                <dt><a href="#package-unsafe">Package "unsafe"</a></dt>
            </dl>
        </td>
    </tr>
</table>
<h2 id="introduction">Introduction</h2>
<p>This is a reference manual for Scriggo templates.</p>
<p>The Scriggo templates specification is based on the Go language specification, see <a href="https://golang.org/ref/spec">golang.org/spec</a>. The Go specification applies, apart from what written in this specification.</p>
<h2 id="template-source-code-representation">Template source code representation</h2>
<p>Template source code between <em>{%</em> and <em>%}</em>, <em>{%%</em> and <em>%%}</em> and <em>{{</em> and <em>}}</em> is Unicode text encoded in <a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8</a>.</p>
<p>Implementation restriction: A template tool, as an editor or interpreter, may require all the template file content to be encoded in UTF-8.</p>
<h2 id="lexical-elements">Lexical elements</h2>
<h3 id="comments">Comments</h3>
<p>Line comments and general comments can only appear between <em>{%</em> and <em>%}</em> and between <em>{%%</em> and <em>%%}</em>. In addition there is a third form:</p>
<ol start="3">
<li>Template comments start with the character sequence <em>{#</em> and stop with the first subsequent not paired character sequence <em>#}</em>. Template comments cannot appear between <em>{%</em> and <em>%}</em>, <em>{%%</em> and <em>%%}</em> and between <em>{{</em> and <em>}}</em>.</li>
</ol>
<pre><code>{# this is a template comment #}

{# this {# is also a #} comment #}
</code></pre>
<h3 id="keywords">Keywords</h3>
<p>The following keywords are added to the keywords of Go:</p>
<pre><code>and          extends      not          render
contains     in           or           show
end          macro        raw          using
</code></pre>
<pre><code>{{    }}    {%    %}
{%%   %%}   {#    #}
</code></pre>
<h2 id="types">Types</h2>
<h3 id="format-types">Format types</h3>
<p>A format type represents a sets of string values that can have a special treatment when used with <code>show</code> statement. The <code>string</code> type is a format type.</p>
<pre><code>FormatType = &quot;string&quot; | &quot;html&quot; | &quot;css&quot; | &quot;js&quot; | &quot;json&quot; | &quot;markdown&quot; .
</code></pre>
<pre><code>string    The string type. The strings in this set are not escaped in a Text context.
html      The set of all strings that are not escaped in a HTML context.
css       The set of all strings that are not escaped in a CSS context.
js        The set of all strings that are not escaped in a JS context.
json      The set of all strings that are not escaped in a JSON context.
markdown  The set of all strings that are not escaped in a Markdown context.
</code></pre>
<h3 id="macro-types">Macro types</h3>
<p>There is the new <em>macro type</em>.</p>
<pre><code>TypeLit = ArrayType | StructType | PointerType | FunctionType | InterfaceType |
          SliceType | MapType | ChannelType | MacroType .
</code></pre>
<p><em>Macro types</em> are alias for function types with a single return parameter having a predefined format type (<em>string</em>, <em>html</em>, <em>css</em>, <em>js</em>, <em>json</em>, <em>markdown</em>).</p>
<p>Aliases of format types cannot be used as the return type in a type macro literal.</p>
<pre><code>macro() markdown           // alias for func() markdown
macro(int, bool) string    // alias for func(int, bool) string

type foo = string

macro() foo              // not valid, foo is an alias of the string type  
macro([]int) int         // not valid, int is not a format type
macro([]int)             // not valid, has no return parameters
macro() (string, css)    // not valid, has too many return parameters
</code></pre>
<h2 id="contexts">Contexts</h2>
<p>Templates are autoescaping</p>
<h2 id="declarations">Declarations</h2>
<p>There are no function and method declarations in Scriggo templates.</p>
<pre><code>Declaration = ConstDecl | TypeDecl | VarDecl .
</code></pre>
<p>A constant, type and variable declaration can also be written between <em>{%</em> and <em>%}</em>.</p>
<pre><code>{% var n = 5 %}

{%
    const (
        n = 5
        m = 7
    )
%}

{% type T struct{ s string } %}
</code></pre>
<p>In addition there are macro declarations. A macro declaration binds an identifier to a macro.</p>
<p>At part of the different declaration syntax, macros are functions. A macro declaration can only be written using <em>{%</em> and <em>%}</em>.</p>
<pre><code>MacroDecl   =
    &quot;{%&quot; &quot;macro&quot; MacroName [ Parameters ] [ MacroResult ] &quot;%}&quot;
    Content
    &quot;{%&quot; &quot;end&quot; [ &quot;macro&quot; ] &quot;%}&quot; .
MacroName   = identifier .
MacroResult = &quot;string&quot; | &quot;html&quot; | &quot;css&quot; | &quot;js&quot; | &quot;json&quot; | &quot;markdown&quot; .
</code></pre>
<p>If a macro declaration does not have a result type, it is inferred from the context of the declaration.</p>
<pre><code>Template format   Macro result type

Text              string
HTML              html
CSS               css
JS                js
JSON              json
Markdown          markdown
</code></pre>
<p>Macro declarations are only allowed in the previous template contexts.</p>
<pre><code>{% macro Title %}A beautiful title{% end %}

{% macro Image(src string, with, height int) html %}
  &lt;a href=&quot;{{ src }}&quot; with=&quot;{{ width }}&quot; height=&quot;{{ height }}&quot;&gt;
{% end macro %}
</code></pre>
<p>Endless macros are macros whose content extends to the end of the file. An endless macro declaration does not have the <code>macro</code> keyword,
does not have parameters and have an implicit return value. The name of an endless macro is an exported identifier.</p>
<pre><code>EndlessMacroDecl = &quot;{%&quot; EndlessMacroName &quot;%}&quot; Content EOF .
EndlessMacroName = exported_identifier .
</code></pre>
<pre><code>{ extends &quot;layout.html&quot; %}
{% Article %}

This is the article content,

{% a := 5 %} {# a is defined in the scope of the body of the Article macro #}

and more article content.
</code></pre>
<h3 id="predeclared-identifiers">Predeclared identifiers</h3>
<p>The predeclared type identifiers <em>html</em>, <em>css</em>, <em>js</em>, <em>json</em> and <em>markdown</em>, with the type <em>string</em> are called format types:</p>
<pre><code>Format types:
    string html css js json markdown
</code></pre>
<p>The format types are the only types that can be used as macro result type.</p>
<h2 id="expressions">Expressions</h2>
<h3 id="primary-expressions">Primary expressions</h3>
<p>The <em>default expression</em> is added to primary expressions.</p>
<pre><code>PrimaryExpr =
	Operand |
	Conversion |
	MethodExpr |
	DefaultExpr |
	PrimaryExpr Selector |
	PrimaryExpr Index |
	PrimaryExpr Slice |
	PrimaryExpr TypeAssertion |
	PrimaryExpr Arguments .

DefaultExpr = ( identifier | identifier Arguments | Render ) &quot;default&quot; Expression .
</code></pre>
<h3 id="default-expression">Default expression</h3>
<p>The left expression <code>x</code> of the <em>default expression</em></p>
<pre><code>x default e
</code></pre>
<p>is <em>resolved</em> if one of the following conditions applies:</p>
<ul>
<li><code>x</code> is a predeclared identifier of a variable, constant or function</li>
<li><code>x</code> is a render expression and the file to render exists</li>
<li><code>x</code> is a call expression <code>M(a1, a2, … an)</code> with <code>M</code> an identifier representing a macro declared in the scope of a file that extends the file of the default expression</li>
</ul>
<p>If the left expression <code>x</code> is resolved, <code>x default e</code> is replaced with <code>x</code> otherwise it is replaced with <code>e</code>.</p>
<p>If it is replaced based on its left expression, it must still be valid in its context if it were replaced based on its right expression.</p>
<p>If it is replaced based on its right expression and <code>x</code> is a function call, its arguments must be assignable to the empty interface type and if the last argument is followed by <code>...</code>, the type of the last argument must be assignable to a slice type <code>[]T</code>.</p>
<p>A default expression may only be used in the following cases:</p>
<ol>
<li>Variable declaration as in <code>var a = x default e</code>.</li>
<li>Short variable declaration as in <code>a := x default e</code>.</li>
<li>Typed constant declaration as in <code>const c = x default e</code>.</li>
<li>Assignment as in <code>v = x default e</code>.</li>
<li>Show statement as  in <code>show x default e</code>.</li>
</ol>
<p>In a declaration, the type of the declared variable or constant is the type it would have if the default expression were replaced with its right expression <code>e</code> only. In a constant declaration without a type and with <code>e</code> untyped, the declared constant is untyped with the same kind of <code>e</code>, and  also <code>x</code> must be untyped with the same kind of <code>e</code>.</p>
<p>In a declaration or assignment, if the right expression <code>x</code> of the default expression is a call or render expression, the type of the right expression <code>e</code> must be a format type.</p>
<p>For example:</p>
<pre><code>var filters []Filter = filters default nil
</code></pre>
<pre><code>{{ Head() default &quot;&quot; }}
</code></pre>
<pre><code>{% show Head() default this using %} ... {% end %}
</code></pre>
<pre><code>{{ render &quot;specials.html&quot; default &quot;no specials&quot; }}
</code></pre>
<h3 id="render-operator">Render operator</h3>
<p>For a string literal s, the expression</p>
<pre><code>render s
</code></pre>
<p>renders the template file with path s, and it's evaluated to a string value with the result of the rendering. The type of the resulted value is the format type relative to the format of the rendered file.</p>
<pre><code>{# s has type string if &quot;codes.txt&quot; has format Text #}
{% s := render &quot;codes.txt&quot; %}

{# the show expression has type html if &quot;footer.html&quot; has format HTML #}
{{ render &quot;footer.html&quot; }}
</code></pre>
<h3 id="contains-operators">Contains operators</h3>
<p>Scriggo templates have <code>contains</code> and <code>not contains</code> operators. The following rules applies:</p>
<ul>
<li>
<p>For a value <code>v</code> of type <code>[]T</code> or <code>[n]T</code> and a value <code>x</code>, the expression <code>v contains x</code> yield an untyped boolean; <code>true</code> if an element of <code>v</code> is equals to <code>x</code>. <code>x</code> must be assignable to <code>T</code> and comparable to the values of <code>T</code>.</p>
</li>
<li>
<p>For a map <code>v</code> with key values of type <code>T</code> and a value <code>x</code> of type <code>T</code>, the expression <code>v contains x</code> yield an untyped boolean; <code>true</code> if <code>v</code> has <code>x</code> as key.</p>
</li>
<li>
<p>For string values <code>v</code> and <code>x</code>, the expression <code>v contains x</code> yield an untyped boolean; <code>true</code> if <code>x</code> is within <code>v</code>.</p>
</li>
<li>
<p>For a string value <code>v</code> and a value <code>x</code> of type <code>rune</code>, the expression <code>v contains x</code> yield an untyped boolean; <code>true</code> if the Unicode code point <code>x</code> is within <code>v</code>.</p>
</li>
<li>
<p>For a value <code>v</code> of type <code>[]byte</code> and a value <code>x</code> of type <code>rune</code>, the expression <code>v contains x</code> yield an untyped boolean; <code>true</code> if the Unicode code point <code>x</code> is within <code>v</code>.</p>
</li>
</ul>
<p>If <code>!(v contains y)</code> is a valid expression evaluated to the value <code>b</code>, also <code>v not contains y</code> is a valid expression and it is evaluated to the value <code>!b</code>.</p>
<h3 id="operators">Operators</h3>
<p>The operators are extended with the operators <code>and</code>, <code>or</code>, <code>not</code>, <code>render</code>, <code>contains</code> and <code>not contains</code>.</p>
<pre><code>binary_op  = &quot;||&quot; | &quot;&amp;&amp;&quot; | rel_op | add_op | mul_op | &quot;or&quot; | &quot;and&quot; | &quot;contains&quot; | &quot;not contains&quot; .
unary_op   = &quot;+&quot; | &quot;-&quot; | &quot;!&quot; | &quot;^&quot; | &quot;*&quot; | &quot;&amp;&quot; | &quot;&lt;-&quot; | &quot;not&quot; | &quot;render&quot; .
</code></pre>
<h4 id="operator-precedence">Operator precedence</h4>
<pre><code>Precedence    Operator
    5             *  /  %  &lt;&lt;  &gt;&gt;  &amp;  &amp;^
    4             +  -  |  ^
    3             ==  !=  &lt;  &lt;=  &gt;  &gt;=  contains  not contains
    2             &amp;&amp;  and
    1             ||  or
</code></pre>
<h3 id="extended-zero-values">Extended zero values</h3>
<p>A value <code>x</code> of type <code>T</code> is an extended zero value of <code>T</code> if one of the following applies:</p>
<ul>
<li><code>x</code> is the zero value of <code>T</code>,</li>
<li><code>x</code> is an empty slice or an empty channel,</li>
<li><code>x</code> is a non nil interface and its dynamic value is an extended value for the dynamic type of <code>x</code>.</li>
</ul>
<h3 id="extended-logical-operators">Extended logical operators</h3>
<p>Extended logical operators applies to any value and yield an untyped boolean value or an untyped boolean constant if both the operands are constants. The right operand is evaluated conditionally.</p>
<pre><code>not   NOT               not p    is  &quot;if p is an extended zero value&quot;

or    conditional OR    p or q   is  &quot;if p is an extended zero value then
                                        q is not an extended zero value else false&quot;

and   conditional AND   p and q  is  &quot;if p is an extended zero value then
                                        false else q is not an extended zero value&quot;
</code></pre>
<h3 id="conversions">Conversions</h3>
<p>A value <code>x</code> with type <code>html</code>, <code>css</code>, <code>js</code>, <code>json</code> or <code>markdown</code> cannot be converted to any other type. The following exception apply:</p>
<ul>
<li>if <code>x</code> has type <code>markdown</code>, <code>x</code> can be converted to the <code>html</code> type. The conversion transforms the string according to Markdown but the transformation is implementation-dependent. If <code>x</code> is constant, the transformation is done at compile-time.</li>
</ul>
<pre><code>const c1 css = &quot;red&quot;
var c2 js = &quot;var a = 1;&quot;
var c3 markdown = &quot;# title&quot;
const c4 = `{&quot;a&quot;:1}`

css(c1)     // a css value can be converted to css
html(c2)    // invalid; a js value cannot be converted html
html(c3)    // a markdown value can be converted to html
json(c4)    // a untyped constant value can be converted to json
</code></pre>
<h2 id="statements">Statements</h2>
<h3 id="go-statement">Go statement</h3>
<p>Implementation restriction: an implementation of Scriggo templates can disallow the &quot;go&quot; statement. When disallowed
a compile-time error occurs if used.</p>
<h3 id="if-statement">If statement</h3>
<p>The expression of the &quot;if&quot; statement is not limited to boolean types but can have any type.
If the expression does not evaluate to an extended zero value, the &quot;if&quot; branch is executed, otherwise, if present,
the &quot;else&quot; branch is executed.</p>
<h3 id="for-statement">For statement</h3>
<p>The &quot;for&quot; statement is extended with a fourth form</p>
<pre><code>ForStmt  = &quot;for&quot; [ Condition | ForClause | RangeClause | InClause ] Block .
InClause = Identifier &quot;in&quot; Expression .
</code></pre>
<p>A &quot;for&quot; statement with a &quot;in&quot; clause is the same of a &quot;for&quot; statement with a &quot;range&quot; clause with the first identifier only and the short assignment.</p>
<pre><code>for i in s { }

// is the same of

for i := range s { } 
</code></pre>
<h3 id="show-statement">Show statement</h3>
<p>The <em>show</em> statement formats the expressions, according to the expression type and the context. If <em>show</em> is used
in a macro, the formatted values are appended to the macro response value, otherwise the formatted values are printed
to the template output.</p>
<p>In content, the show statement can be also written using the short form.</p>
<p>Implementation restriction: a Scriggo templates implementation may not parse the short form. If not parsed, {{
and }} have no special meaning.</p>
<pre><code>ShowStmt      = &quot;show&quot; Expression { &quot;,&quot; Expression } .
ShortShowStmt = &quot;{{&quot; Expression &quot;}}&quot; .
</code></pre>
<p>The <em>show</em> statement cannot be used in a function literal.</p>
<p>Examples:</p>
<pre><code>{% show &quot;the document has &quot;, count, &quot; characters&quot; %}

{%%
    if price &gt; 0 {
        show &quot;price: &quot;, price
    }
%%} 

{% macro Product(product Product) %}
    Name:  {{ product.Name }}
    Price: {{ product.Price }}
{% end %}

{% func(s string) {
    show s // invalid, cannot be used in a function literal.
}() %}
</code></pre>
<h3 id="using-statement">Using statement</h3>
<p>A using statement renders its content and then executes its affected statement. Within the affected statement the
predeclared identifier <code>itea</code> represents the rendered content.</p>
<pre><code>UsingStmt    = &quot;{%&quot; AffectedStmt &quot;;&quot; &quot;using&quot; [ IteaType ] &quot;%}&quot; Content &quot;{%&quot; &quot;end&quot; [ &quot;using&quot; ] &quot;%}&quot; .
AffectedStmt =  VarDecl | ExpressionStmt | SendStmt | Assignment | ShowStmt .
IteaType     = ( FormatType | &quot;macro&quot; [  Parameters ] [ FormatType ] ) .
</code></pre>
<p>If a type is present, <code>itea</code> has that type. Otherwise, <code>itea</code> has the format type corresponding to the context of the
using statement. If the type is a macro type, the result type can be omitted. If omitted, the result type is the format
type corresponding to the context of the using statement.</p>
<pre><code>{# there is a type, itea has type markdown #}
{% show itea; using markdown %}## {{ title }}{% end %}

{# if the context is HTML, itea has type html #}
{% var a = itea; using %}&lt;a href=&quot;{{ src }}&quot;&gt;{{ description }}&lt;/a&gt;{% end %}

{# if the context is Text, itea has type macro(string) string #}  
{% names(itea); using macro(name string) %}Name: {{ name }}{% end %}
</code></pre>
<p>If the type of <code>itea</code> is a format type, <code>itea</code> is a string value containing the rendered content.</p>
<p>If the type of <code>itea</code> is a macro type, <code>itea</code> is a macro with content the content of the using statement. In the content
are defined the parameter of the macro if any.</p>
<h3 id="itea">Itea</h3>
<p>Within the affected statement of a <a href="#using-statement">using statement</a>, the predeclared identifier <code>itea</code> represents the
value resulted from the rendering of the macro's content. It can have a format type or a macro type.</p>
<h3 id="raw-statement">Raw statement</h3>
<p>In a <em>raw</em> statement the content is rendered as is, the tokens <em>{%</em>, <em>%}</em>, <em>{%%</em>, <em>%%}</em>, <em>{{</em>, <em>}}</em>, <em>{#</em> and <em>#}</em> have no special meaning.</p>
<pre><code>RawStmt         = MarkedRawStmt | UnmarkedRawStmt .
MarkedRawStmt   = &quot;{%&quot; &quot;raw&quot; Marker [ Tag ] &quot;%}&quot; Content &quot;{%&quot; &quot;end&quot; &quot;raw&quot; Marker &quot;%}&quot; .
UnmarkedRawStmt = &quot;{%&quot; &quot;raw&quot; [ Tag ] &quot;%}&quot; Content &quot;{%&quot; &quot;end&quot; [ &quot;raw&quot; ] &quot;%}&quot; .
Marker          = letter { letter | unicode_digit } .
Tag             = string_lit .
</code></pre>
<p>The following code</p>
<pre><code>{% raw %}
   {% if discount %}
     promotion
   {% end if %}
{% end %}
</code></pre>
<p>is rendered as</p>
<pre><code>   {% if discount %}
     promotion
   {% end if %}
</code></pre>
<p>Marked raw statements ends at the first occurrence of <code>{% end raw marker %}</code> where <code>marker</code> is its marker. For example,
the following code</p>
<pre><code>{% raw doc %}
   Use a raw statement to render unparsed text as
   {% raw %} # title {% end %}
   {% raw cycle %}
     {% for item in items %} {{ item }} {% end %}
   {% end raw cycle %}
{% end raw doc %}
</code></pre>
<p>is rendered as</p>
<pre><code>   Use a raw statement to render unparsed text as
   {% raw %} # title {% end %}
   {% raw cycle %}
     {% for item in items %} {{ item }} {% end %}
   {% end raw cycle %}
</code></pre>
<p>A <em>raw</em> statement can have a string literal <em>tag</em>. As for struct tags, an empty tag string is equivalent to an absent tag.</p>
<pre><code>{% raw `lang:&quot;javascript&quot;` %} var a = 5; console.log(a); {% end %}

{# an empty tag is equilavent to an absent tag #}
{% raw &quot;&quot; %} &lt;b! data {% end %}
</code></pre>
<h2 id="template-files">Template files</h2>
<p>Templates are constructed linking together template files. A template file has a path, rooted at the template root, and a format: <em>Text</em>, <em>HTML</em>, <em>Markdown</em>, <em>CSS</em>, <em>JS</em> or <em>JSON</em>. The format of a file is implementation dependant.</p>
<h2 id="extends-declarations">Extends declarations</h2>
<p>An extends declaration states that the <em>extended</em> file depends on functionality of the file containing the declaration and enables access to exported identifiers of this file. The exports names the path of the extended file.</p>
<pre><code>ExtendsDecl = &quot;extends&quot; ExtendsPath
ExtendsPath = string_lit .
</code></pre>
<p>The <code>ExtendsPath</code> can be relative to the directory of the file containing the declaration or can be rooted at the root of the template. An extends declaration must be the first declaration in the file.</p>
<p>For a file containing an extends declaration, the following rules applies:</p>
<ul>
<li>it can only contain declarations,</li>
<li>it cannot contain more that one extends declaration,</li>
<li>outside {% and %}, {%% and %%} and {# and #}, it can only contain white space: spaces (U+0020), horizontal tabs (U+0009), carriage returns (U+000D), and newlines (U+000A).</li>
<li>it cannot be extended with the extends declaration, imported with the import declaration or rendered with the render operator.</li>
</ul>
<h2 id="import-declarations">Import declarations</h2>
<p>The import declaration has a new <em>import-for</em> form.</p>
<pre><code>ImportDecl    = &quot;import&quot; ( ImportSpec | &quot;(&quot; { ImportSpec &quot;;&quot; } &quot;)&quot; ) .
ImportSpec    = [ [ &quot;.&quot; | PackageName ] ImportPath | ImportForSpec ] .
ImportForSpec = ImportPath &quot;for&quot; Identifier { &quot;,&quot; Identifier } .
</code></pre>
<p>In the <em>import-for</em> form, each identifier is an exported identifier of the package within the importing source file.</p>
<pre><code>// Import the Banners and Menus names.
import &quot;imp/components.html&quot; for Banners, Menus

// Import the Index and HasPrefix names.
import &quot;strings&quot; for Index, HasPrefix
</code></pre>
<p>The <code>ImportPath</code> is first interpreted as a template file path. If a template file with this path does not
exist, it is interpreted as a package path.</p>
<h2 id="template-initialization-and-execution">Template initialization and execution</h2>
<p>The template execution starts from a template file. If the file contains an extends declaration, the execution starts from the extended file.</p>
<h3 id="package-unsafe">Package <code>&quot;unsafe&quot;</code></h3>
<p>There is not the &quot;unsafe&quot; package of the Go language in Scriggo templates.</p>

        </div>
    </div>
</article>
<footer>
    &copy; 2021 Open2b
</footer>
</body>
</html>