<!doctype html>
<html lang="en" class="article">
<head>
    <title>Scripts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Scripts">
    <meta property="og:description" content="Scriggo is a fast, modern and secure Go language template engine and embeddable runtime">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scriggo.com">
    <meta property="og:image" content="https://scriggo.com/images/scriggo-card.png">
    <meta name=twitter:title content="Scripts">
    <meta name=twitter:description content="Scriggo is a fast, modern and secure Go language template engine and embeddable runtime">
    <meta name=twitter:image content="https://scriggo.com/images/scriggo-card.png">

</head>
<body>
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <ul>
        <li><a href="/what-is-scriggo">Documentation</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="https://play.scriggo.com/" target="_blank" class="playground">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" alt="Scriggo on GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Github | Scriggo</title><path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"/></svg></a></a>
</nav><article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="/what-is-scriggo" >What is Scriggo</a>
</li>
                <li><a href="/get-started" >Get Started</a>
</li>
                <li><a href="/scriggo-command" >Scriggo command</a>
</li>
                <li>
                    <a href="/templates"  class="selected" >Templates</a>

                    <ul>
                        <li><a href="/templates/show" >Show</a>
</li>
                        <li><a href="/templates/render" >Render</a>
</li>
                        <li><a href="/templates/macro" >Macro</a>
</li>
                        <li><a href="/templates/extends-and-import" >Extends and Import</a>
</li>
                        <li><a href="/templates/specification" >Specification</a>
</li>
                        <li><a href="/templates/switch-from-jinja-to-scriggo" >Switch from Jinja</a>
</li>
                    </ul>
                </li>
                <li><a href="/scriggofile" >Scriggofile</a>
</li>
                <li><a href="/disassembler" >Disassembler</a>
</li>
                <li><a href="/limitations" >Limitations</a>
</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            <h1 id="scriggo-templates">Scriggo templates</h1>
<p>Scriggo is a modern and powerful template engine for Go, supporting inheritance,
macros, partials, imports and contextual autoescaping but most of all it uses the
Go language as the template scripting language.</p>
<pre><code>{% extends &quot;layout.html&quot; %}
{% import &quot;banners.html&quot; %}
{% macro Body %}
    &lt;ul&gt;
      {% for _, product := range products %}
      &lt;li&gt;&lt;a href=&quot;{{ product.URL }}&quot;&gt;{{ product.Name }}&lt;/a&gt;&lt;/li&gt;
      {% end %}
    &lt;/ul&gt;
    {{ render &quot;pagination.html&quot; }}
    {{ Banner() }}
{% end %}
</code></pre>
<p>Scriggo template files can be written in plain text, HTML, Markdown, CSS, JavaScript and JSON.</p>
<h2 id="expressions">Expressions</h2>
<p>Scriggo supports all Go expressions. To evaluate an expression and render its result, put the expression between <code>{{</code> and <code>}}</code>:</p>
<pre><code>{{ expression }}
</code></pre>
<p>Examples:</p>
<pre><code>Page has title &quot;{{ capitalize(page.Title) }}&quot; and shows {{ len(products) + 1 }} products
</code></pre>
<p><code>{{ }}</code> escapes the printed value based on its context.</p>
<p>In addiction, Scriggo templates support the <code>render</code> operator to render a template file, the <code>contains</code> operator and the <code>default</code> expression statement.</p>
<h2 id="statements">Statements</h2>
<p>Scriggo supports in templates almost all Go statements. A statement is delimited between <code>{%</code> and <code>%}</code>:</p>
<pre><code>{% statement %}
</code></pre>
<p>Examples:</p>
<pre><code>{% var a = 5 %}

{% a = 7 %}

{% a, ok = b.(int) %}

{% defer func() { } %}

{% go func() { } %}  
</code></pre>
<p><code>if</code>, <code>switch</code>, <code>select</code> and <code>for</code> statements require a closing <code>end</code>.</p>
<p>Example:</p>
<pre><code>{% if n &gt; 5 %} n is greater than 5 {% end %}  
</code></pre>
<p><code>end</code> can be followed by the statement's name that it closes.</p>
<p>Example:</p>
<pre><code>{% for i, product := range products %}
  {{ i }}. {{ product.Name }}
{% end for %}
</code></pre>
<p>In addiction, Scriggo supports in templates the new <code>extends</code> declaration and the four new statements
<code>macro</code>, <code>show</code>, <code>raw</code> and <code>using</code>.</p>
<h3 id="functions">Functions</h3>
<p>Function declarations are by design not supported by Scriggo in templates, use instead what is more appropriate between a macro:</p>
<pre><code>{% macro image(url string) %}&lt;img src=&quot;{{ url }}&quot;&gt;{% end %}
</code></pre>
<p>and a function literal:</p>
<pre><code>{% inc := func(i int) int { return i + 1 } %}
</code></pre>
<h2 id="simpler-syntax">Simpler syntax</h2>
<p>Scriggo also support a simpler and relaxed syntax for a gentle introduction to templates.</p>
<p>The <code>for</code> <code>range</code> statement:</p>
<pre><code>{% for _, product := range products %}
</code></pre>
<p>can be written simply as:</p>
<pre><code>{% for product in products %}
</code></pre>
<p>Furthermore, the condition of the <code>if</code> statement can have any type. If it valuates to the zero value of its type, it is false, otherwise it is true.</p>
<p>So the following statements:</p>
<pre><code>{% if price &gt; 0 %} ... {% end %}
{% if producer != nil %} ... {% end %}
</code></pre>
<p>can be written simply as:</p>
<pre><code>{% if price %} ... {% end %}
{% if producer %} ... {% end %}
</code></pre>
<p>As a special case, if the condition has an interface type, the condition is false if the interface is <code>nil</code> or its dynamic
value is the zero value for its type.</p>
<p>Finally, there are tree new operators: <code>and</code>, <code>or</code> and <code>not</code>. They are relaxed forms of the <code>&amp;&amp;</code>, <code>||</code> and <code>!</code> operators
where the operands, as the <code>if</code> condition, can have any type.</p>
<p>So the statement:</p>
<pre><code>{% if discount &gt; 0 &amp;&amp; banners != nil %} ... {% end %}
</code></pre>
<p>can be written simply as:</p>
<pre><code>{% if discount and banners %} ... {% end %}
</code></pre>
<h3 id="extends">extends</h3>
<p>The statement <code>extends</code> extends a template file from another one, the parent, implementing template inheritance.
A parent file contains calls to macros declared in the extended files.</p>
<p>Example:</p>
<pre><code>{# parent.html #}
{{ Banner() }}
</code></pre>
<pre><code>{% extends &quot;parent.html&quot; %}
{% macro Banner %} ... {% end %}
</code></pre>
<p>This is a more complete example of a parent file:</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;{{ Title() }}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  {{ Header() }}
  &lt;div&gt;
    {{ Column() }}
    {{ Body() }}
  &lt;/div&gt;
  {{ Footer() }}
&lt;/body&gt;
&lt;/head&gt;
</code></pre>
<p>and an extended file:</p>
<pre><code>{% extends &quot;layout.html&quot; %}
{% macro Title %}Awesome article{% end %}
{% macro Header %}
  ...
{% end %}
{% macro Body %}
  ...
{% end %}
{% macro Footer %}
  ...
{% end %}
</code></pre>
<h3 id="macro">macro</h3>
<p>The statement <code>macro</code> defines a macro, which is a way to repeat frequently-used template code. A macro can have
input parameters, like a function, but have a single unnamed return parameter with type <code>string</code>, <code>html</code>, <code>markdown</code>,
<code>css</code>, <code>js</code>, or <code>json</code>. In a macro declaration the return parameter type can be omitted, in this case it is inferred by
the context. A macro without input parameters can be declared and called without the parentheses.</p>
<p>Examples:</p>
<pre><code>{% macro title %}A wonderful book{% end %}

{% macro image(url string, width, height int) html %}
  &lt;img src=&quot;{{ url }}&quot; width=&quot;{{ width }}&quot; height=&quot;{{ height }}&quot;&gt;
{% end %}
</code></pre>
<p>A macro is a function and as such it is called with the parentheses:</p>
<pre><code>{{ name() }}
 
{% show image(&quot;picture.jpg&quot;, 400, 500) %}
</code></pre>
<h3 id="partials">Partials</h3>
<p>Partials are template files whose contents can be rendered in other files with the <code>render</code> operator:</p>
<pre><code>{{ render &quot;partials/footer.html&quot; }}
</code></pre>
<p>The name of the partial file can be a relative or an absolute path. The partial file does not inherit the variables
declared in the file in which it is rendered.</p>
<h3 id="import">import</h3>
<p>The statement <code>import</code> imports the exported declarations in a template file in the current file scope. The exported
declarations are the macro, variable, constant and type declarations with the first letter of the declaration's name in
uppercase.</p>
<p>If a template file with the given path does not exist, <code>import</code> tries to import the declarations from a package with the
given path.</p>
<p>Scriggo supports in templates all the supported Go <code>import</code> forms plus a new &quot;import-for&quot; form that allows to indicate
the names to import. For example:</p>
<pre><code>{% import &quot;elements.html&quot; for Banners, Menus %}
{{ Banners() }}
{{ Menus() }}
</code></pre>
<p>The Go <code>import</code> form without a package name is only used to import packages and not template files:</p>
<pre><code>{% import &quot;fmt&quot; %}
</code></pre>
<p>Import declarations can be only at the beginning of a file and can be preceded only by an extends statement.</p>
<p>Examples:</p>
<pre><code>{% import &quot;catalog.html&quot; %}
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;Catalog&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  {{ Products() }}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<pre><code>{% extends &quot;layout.html&quot; %}
{% import elems &quot;elements.html&quot; %}

{% macro Header %}
  &lt;div&gt;{{ elems.Banners }}&lt;/div&gt;
{% end %}

{% macro Body %}
  ...
{% end %}
</code></pre>
<h3 id="raw">raw</h3>
<p>The raw statement is used to render a content without executing Scriggo code:</p>
<pre><code>{% raw %} {{ price }} {% end %}
</code></pre>
<p>Terminate the <code>raw</code> statement with <code>{% end %}</code>, <code>{% end raw %}</code> or <code>{% end raw example %}</code> where <code>example</code> can be any identifier.</p>
<pre><code>{% raw example %}
Use {% raw %} ... {% end raw %} to render a content as is.
{% end raw example %}
</code></pre>
<p>It is rendered as <code>Use {% raw %} ... {% end raw %} to render a content as is</code>.</p>
<h3 id="using">using</h3>
<p>The <code>using</code> statement can be used between <code>{%</code> and <code>%}</code> in conjunction with show statements, expression statements,
send statements, assignments and variable declarations to capture the rendering of a content into a value.</p>
<p>The value is assigned to the predeclared identifier <code>itea</code> and has the type that follow <code>using</code>. The type can be a
format type (<code>string</code>, <code>html</code>, <code>markdown</code>, <code>css</code>, <code>js</code> or <code>json</code>) or a macro type. If it is omitted, it is inferred by
the context.</p>
<pre><code>{% var link = itea; using %}
  &lt;a href=&quot;{{ url }}&quot;&gt;{{ name }}&lt;/a&gt;
{% end %}

{% reply(itea); using string %}
  Dear {{ name }},
  thanks for your interest.
{% end using %}
</code></pre>
<p>When a using statement has a macro type, the content if rendered every time the macro is called:</p>
<pre><code>{% show Head(itea); using macro %}
    &lt;title&gt;{{ Title() default &quot;&quot; }} - Awesome site&lt;/title&gt;
    &lt;link href=&quot;style.css&quot;&gt;
{% end using %}
</code></pre>
<pre><code>{% extends &quot;layout.html&quot; %}
{% macro Title %}Contact us{% end %}
{% macro Head(content macro() html) %}
    {{ content() }}
    &lt;script src=&quot;contact-form.js&quot;&gt;&lt;/script&gt;
{% end macro %}
</code></pre>
<h3 id="comments">Comments</h3>
<p>Text between <code>{#</code> and <code>#}</code> is a comment, and it is discarded during the rendering.</p>
<pre><code>{# comment #}
</code></pre>
<p>Example:</p>
<pre><code>{# show the user's name #}
{{ user.FirstName }} {{ user.LastName }}

{# this code requires a review: 
  {% for _, user := range users %}
     ...
  {% end %}
#}
</code></pre>

        </div>
    </div>
</article>
<footer>
  <div class="wrap">
    <img class="gopher" src="/images/pilot-bust.svg" alt="The Go Gopher">
    <ul>
      <li><a href="/copyright">Copyright</a></li>
      <li><a href="https://github.com/open2b/scriggo/issues/new" target="_blank">Report a website issue</a></li>
    </ul>
    <div class="generator">This site is
      <a href="https://github.com/open2b/scriggo-site/blob/main/template/templates.md" target="_blank">generated</a>
      by Scriggo
    </div>
  </div>
</footer></body>
</html>