<!doctype html>
<html lang="en" class="article">
<head>
    <meta charset="utf-8">
    <title>{{ Title() default "" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{ render "/partials/nav.html" }}
<article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="what-is-scriggo">What is Scriggo</a></li>
                <li><a href="get-started">Get Started</a></li>
                <li><a href="install">Install Scriggo</a></li>
                <li><a href="scriggo-command">Scriggo command</a></li>
                <li><a href="template">Template</a></li>
                <li><a href="scriggofile">Scriggofile</a></li>
                <li><a href="internals">Internals</a></li>
                <li><a href="disassembler">Disassembler</a></li>
                <li><a href="template-spec">Template spec</a></li>
                <li><a href="limitations">Limitations</a></li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            {{ Article() }}
        </div>
    </div>
</article>
<footer>
    &copy; 2021 Open2b
</footer>
</body>
</html>