{%%
    var isDocFile = func(name string) bool {
         switch name {
         case "what-is-scriggo", "get-started", "scriggo-command", "how-to-use", "templates", "scriggofile",
             "disassembler", "limitations":
             return true
         }
         return hasPrefix(name, "templates/")
    }
%%}
<nav class="top">
    <a class="logo" href="/"><img src="/images/scriggo.svg" width="107" alt="Scriggo" title="Scriggo"></a>
    <a class="version" href="https://github.com/open2b/scriggo/releases">v0.54.0</a>
    <ul>
        <li><a href="/news"{% if filepath == `news` %} class="selected"{% end %}>News</a></li>
        <li><a href="/what-is-scriggo"{% if isDocFile(filepath) %} class="selected"{% end %}>Documentation</a></li>
        <li><a href="/faq"{% if filepath == `faq` %} class="selected"{% end %}>FAQ</a></li>
        <li><a href="https://github.com/open2b/scriggo/discussions" target="_blank">Community</a></li>
        <li class="playground"><a href="https://play.scriggo.com/" target="_blank">Playground</a></li>
    </ul>
    <a class="github-logo" href="https://github.com/open2b/scriggo/" title="Scriggo on GitHub">{{ render "github-logo.html" }}</a>
</nav>