<!doctype html>
<html class="article page-{{ Page }}" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ Title() default "" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{ render "/partials/nav.html" }}
<article>
    <div class="wrap">
        <div class="content">
            {{ Content() }}
        </div>
    </div>
</article>
<footer>
    &copy; 2021 Open2b
</footer>
</body>
</html>