{% import "/imports/meta.html" for Meta %}
{% import highlight "/imports/highlight.html" %}
<!doctype html>
<html lang="en" class="article">
<head>
    {% title := Title() default "" %}
    <title>{{ title }}</title>
    {{ Meta(title) }}
    {{ highlight.Style() }}
</head>
<body>
{{ render "/partials/nav.html" }}
{% macro item(path, name string) %}
<a href="/{{ path }}" {% if path == filepath %} class="selected" {% else if hasPrefix(filepath, path+"/") %} class="expanded"{% end %}>{{ name }}</a>
{% end %}
<article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li>{{ item(`what-is-scriggo`, `What is Scriggo?`) }}</li>
                <li>{{ item(`get-started`, `Get Started`) }}</li>
                <li>{{ item(`scriggo-command`, `Scriggo command`) }}</li>
                <li>
                    {{ item(`templates`, `Templates`) }}
                    <ul>
                        <li>{{ item(`templates/show-render`, `Show and Render`) }}</li>
                        <li>{{ item(`templates/macro`, `Macro`) }}</li>
                        <li>{{ item(`templates/extends-and-import`, `Extends and Import`) }}</li>
                        <li>{{ item(`templates/if-for-switch`, `If, For and Switch`) }}</li>
                        <li>{{ item(`templates/using`, `Using and itea`) }}</li>
                        <li>{{ item(`templates/operators`, `Operators`) }}</li>
                        <li>{{ item(`templates/variables`, `Variables`) }}</li>
                        <li>{{ item(`templates/types`, `Types`) }}</li>
                        <li>{{ item(`templates/comments`, `Comments`) }}</li>
                        <li>{{ item(`templates/specification`, `Specification`) }}</li>
                        <li>{{ item(`templates/switch-from-jinja-to-scriggo`, `Switch from Jinja`) }}</li>
                    </ul>
                </li>
                <li>{{ item(`scriggofile`, `Scriggofile`) }}</li>
                <li>{{ item(`disassembler`, `Disassembler`) }}</li>
                <li>{{ item(`limitations`, `Limitations`) }}</li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            {{ Article() }}
            {{ render "/partials/edit-on-github.html" }}
        </div>
    </div>
</article>
{{ render "/partials/footer.html" }}
{{ highlight.JS() }}
</body>
</html>