{% import "/imports/meta.html" for Meta %}
<!doctype html>
<html lang="en" class="index">
<head>
    <title>Scriggo: The Go language template engine and embeddable runtime"</title>
    <meta name="description" content="Scriggo is a fast, modern and secure Go language template engine and embeddable runtime. it is distributed under a BSD license">
    {{ Meta("The Go language template engine and embeddable runtime") }}
</head>
<body>
{{ render "/partials/nav.html" }}
<header>
    <section>
        <div>
            <img class="logo" src="/images/scriggo.svg" alt="Scriggo" title="Scriggo" width="450px">
            <h2>Fast, modern and secure Go language template engine and embeddable runtime</h2>
            <h3>Build extensible and easily customizable Go applications</h3>
            <a class="button" href="/get-started">Get Started</a>
        </div>
    </section>
</header>
<section class="why">
    <div class="cols-2">
        <div>
            <h2>Implement new features faster</h2>
            <p>Implement and try new features faster in your application without modifying its original code base.</p>
            <p>You can move the code into the original code base when it is stabilized.</p>
        </div>
        <div>
            <h2>Respond rapidly to changes</h2>
            <p>The parts of your application that require more frequent changes to be adapted to the context can be changed in few seconds instead of hours.</p>
            <p>No need to recompile and restart the application.</p>
        </div>
        <div>
            <h2>Involve non-programmers</h2>
            <p>Scriggo can allow non-programmers, like marketers, to easy code well-defined application behaviors directly in the application.</p>
            <p>The Go language with its simple syntax is easy to learn for non-programmers.</p>
        </div>
        <div>
            <h2>Keep programming in Go</h2>
            <p>Scriggo does not require learning a new language. Keep to code with the language you love. Use the Go standard library, your existing code and any Go module.</p>
        </div>
        <div>
            <h2>Fast compilation and execution</h2>
            <p>Scriggo instantly compiles the source code to its virtual machine code. Then each program execution is as fast as mainstream languages like Ruby, Python and Lua.</p>
        </div>
        <div>
            <h2>Secure by default</h2>
            <p>Executed code can access only to external packages, functions, values and types that you explicitly provided. Scriggo is written in pure Go and does not use the unsafe and syscall packages.</p>
        </div>
        <div>
            <h2>Make Go modules scriptable</h2>
            <p>Let Scriggo create an interpreter for a Go module and distribute it to users as a standalone executable.</p>
            <p>They can try the module's functions without having to worry about download and install Go and its required modules.</p>
        </div>
        <div>
            <h2>Fast and powerful template engine</h2>
            <p>The included Scriggo template engine is designed from the ground up to fully support Go in templates.</p>
            <p>It's modern and safe. Supports inheritance, macros, includes, imports and contextual autoescaping.</p>
        </div>
    </div>
</section>
<section class="benchmark">
    <h2>Scriggo, a fast pure Go language runtime</h2>
    <p></p>
    <div>
        <p><a href="https://github.com/open2b/scriggo" target="_blank">Scriggo</a> <span>2.23s</span></p>
        <div class="bar bar-scriggo"></div>
    </div>
    <div>
        <p><a href="https://github.com/d5/tengo" target="_blank">Tengo</a> <span>3.36s</span></p>
        <div class="bar bar-tengo"></div>
    </div>
    <div>
        <p><a href="https://github.com/yuin/gopher-lua" target="_blank">GopherLua</a> <span>5.13s</span></p>
        <div class="bar bar-gopher-lua"></div>
    </div>
    <div>
        <p><a href="https://github.com/Shopify/go-lua" target="_blank">Go Lua</a> <span>5.20s</span></p>
        <div class="bar bar-go-lua"></div>
    </div>
    <div>
        <p><a href="https://github.com/containous/yaegi" target="_blank">Yaegi</a> <span>18.22s</span></p>
        <div class="bar bar-yaegi"></div>
    </div>
</section>
<section class="benchmark">
    <h2>Scriggo compared to mainstream languages</h2>
    <p></p>
    <div>
        <p><a href="https://github.com/open2b/scriggo" target="_blank">Go</a> <span>0.06s</span></p>
        <div class="bar bar-go"></div>
    </div>
    <div>
        <p><a href="https://github.com/open2b/scriggo" target="_blank">Ruby</a> <span>1.12s</span></p>
        <div class="bar bar-ruby"></div>
    </div>
    <div>
        <p><a href="https://github.com/open2b/scriggo" target="_blank">Scriggo</a> <span>2.23s</span></p>
        <div class="bar bar-scriggo-2"></div>
    </div>
    <div>
        <p><a href="https://github.com/d5/tengo" target="_blank">Python</a> <span>3.02s</span></p>
        <div class="bar bar-python"></div>
    </div>
</section>
{{ render "/partials/footer.html" }}
</body>
</html>