<!doctype html>
<html lang="en" class="article">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% include nav.html %}
<article>
    <div class="wrap">
        <aside>
            <nav>
            <ul>
                <li><a href="what-is-scriggo">What is Scriggo</a></li>
                <li><a href="get-started">Get Started</a></li>
                <li><a href="install">Install Scriggo</a></li>
                <li><a href="scriggo-command">Scriggo command</a></li>
                <li><a href="scriggofile">API</a></li>
                <li><a href="scritto">Scritto templates</a></li>
                <li><a href="scriggofile">Scriggofile</a></li>
                <li><a href="internals">Internals</a></li>
                <li><a href="disassembler">Disassembler</a></li>
            </ul>
            </nav>
        </aside>
        <div class="content">
            {{ content }}
        </div>
    </div>
</article>
<footer>
    &copy; to me
</footer>
</body>
</html>